

/*------------------------------------*\
    #Footer Styles
\*------------------------------------*/


.iconWallpaper {
  width: 100%; 
  overflow: hidden; 
  @extend %position-relative; 

  .iconWallpaper-img {
    height: rem-calc(260px); 
    object-fit: cover; 

  }
}

footer {

  .footer-logo {

    margin-top: rem-calc($level6); 
    margin-bottom: rem-calc($level6 + $level3); 

    @include media-query($medium-up) {

      margin-top: rem-calc($level7); 
      margin-bottom: rem-calc($level7  + $level3); 

    }

  }
}

.footer-inner {

  background-color: $secondaryColor;
  padding-top: rem-calc($level4); 
  padding-bottom: rem-calc($level4);  
    
  @include media-query($large-up) {

      padding-top: rem-calc($level5); 
      padding-bottom: rem-calc($level3);  

  }
}


.footer-menu {
  
  margin-bottom: rem-calc($level5); 
  color: $tertiaryColor; 
  @include h6();  

  @include media-query($large-up) {
    margin-bottom: 0; 
  }

  .footer-menu-title {
    font-family: $secondary-font-family; 
    margin-bottom: rem-calc($level2); 
    @include h4();  
    @extend %uc; 
    @extend %fwb; 

    @include media-query($large-up) {
      margin-bottom: rem-calc($level1); 
      @include h6();  
    }

  }

  .footer-menu-item {

    margin-bottom: rem-calc($level2); 
    @include media-query($medium-up) {
      margin-bottom: rem-calc($level1); 
    }
  }
  
  .footer-menu-link {

    color: $tertiaryColor; 
    
    &:hover, 
    &:focus {
      border-bottom: 2px solid $accentColor; 
    }
  }
}

.footer-logo {
  margin-top: rem-calc($level3); 
}
