
/*------------------------------------*\
    #Sections (Extends from _generics.scss, _colors.scss)
\*------------------------------------*/

body {
  overflow-x: hidden !important; 
  position: relative;
  width: 100%;
}

/*------------------------------------*\
    #Normal Section
\*------------------------------------*/

.section,
section {
  padding-bottom: rem-calc($level7);
  @extend %position-relative; 

  @include media-query($medium-up) {
    padding-bottom: rem-calc($level7);
  }

  @include media-query($large-up) {
    padding-bottom: rem-calc($level7 + $level2);
  }
}





/*------------------------------------*\
    #Lead Section
\*------------------------------------*/


.section--lead {
  padding-top: rem-calc($level7);

  @include media-query($medium-up) {
    padding-top: rem-calc($level7);
  }

  @include media-query($large-up) {
    padding-top: rem-calc($level7 + $level2);
  }
}






/*------------------------------------*\
    #Main Section
\*------------------------------------*/


.section--main {
  padding-top: rem-calc(60px);
  @include media-query($medium-up) {
    padding-top: 0; 
  }
}

.section--primary {
  background-color: $primaryColor; 
  .section-text {
    color:  $tertiaryColor; 
  }
}

.section--secondary {
  background-color: $secondaryColor; 
}




