/*============================================================================
  Form scaffolding
    - Selectors setup for you to style form elements how you want
    - Focus, error, and disabled states are set to be extended
==============================================================================*/
input,
textarea,
select {
  border: 1px solid $color-border;
  border-radius: 0;
  max-width: 100%;
  margin-bottom: rem-calc($base-magic-number); 
  font-family: $secondary-font-family; 

  &:focus {
    // You should add some focus styles
  }

  &[disabled] {
    cursor: default;
    background-color: $color-disabled;
    border-color: $color-disabled-border;
  }
}

textarea {
  min-height: 100px;
}

/*================ Custom select style ================*/
select {
  margin-bottom: rem-calc($base-magic-number); 
  font-family: $primary-font-family; 
  background-position: right center;
  @include prefix(appearance, none, webkit moz spec);
  background: {
    image: url($svg-select-icon);
    repeat: no-repeat;
    position: right 10px center;
    color: transparent;
  }
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;
  color: #fff; 
  background-color: transparent;
  font-weight: bold; 


  /*================ Hide the svg arrow in IE9 ================*/
  .ie9 & {
    padding-right: 10px;
    background-image: none;
  }
}

select::-ms-expand {
  display: none;
}


.select--primary {
  position: relative;
  margin-bottom: rem-calc($base-magic-number); 
  
  &:after {
    content: " "; 
    position: absolute;
    width: 8px;
    height: 8px;
    top: 0;
    margin: auto;
    right: rem-calc($level2);
    bottom: 0;
    border-top: 8px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }

  select {
    border: 3px solid $primaryColor; 
    position: relative;
    margin-bottom: 0; 
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
    outline: 0; 

    &:active, 
    &:focus {
     border: 3px solid #fff; 

     &:after {
      transform: scaleY(-1); 
     }
    }
  }
}


.select--secondary {
  position: relative;
  margin-bottom: rem-calc($base-magic-number); 
  
  &:after {
    content: " "; 
    position: absolute;
    width: 8px;
    height: 8px;
    top: 0;
    margin: auto;
    right: rem-calc($level2);
    bottom: 0;
    border-top: 8px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }

  select {
    border: 3px solid $secondaryColor; 
    position: relative;
    margin-bottom: 0; 
    
    &:active, 
    &:focus {
     border: 3px solid #fff; 

     &:after {
      transform: scaleY(-1); 
     }
    }

  }

}


/*================ Custom Select style ================*/

.select--small {
  select {
    padding: rem-calc($level1); 
    @include h4();
  }
}


.select--medium {
  select {
    padding: rem-calc($level2); 
  }
}



/*================ Custom Input style ================*/


.input--primary {
  position: relative;
  margin-bottom: rem-calc($base-magic-number); 
  
  &:before {
    content: " "; 
    left: 0; 
    top: 0; 
    bottom: 0; 
    background-color: $accentColor; 
    height: 100%;
    width: 0; 
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
    position: absolute;
    z-index: 4; 
  }

  &:after {
    content: " "; 
    right: 0; 
    top: 0; 
    bottom: 0; 
    width: 0; 
    height: 100%; 
    position: absolute;
    background-color: $secondaryColor;
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 0; 
  }

  &.is-active {

    &:before {
      width: 3px;
    }

    &:after {
      width: 100%;
    }

    input {
      outline: 0;
    }
  }


  &.is-filled {
    label {
      opacity: 0; 
    }
  }

  label {
    position: absolute;
    color: #fff;
    top: 0; 
    margin: auto;
    bottom: 0; 
    font-weight: bold; 
  }

  input {
    width: 100%;
    margin-bottom: 0; 
    z-index: 2; 
    position: relative;
    font-family: $primary-font-family;
    font-weight: normal; 
    background-color: transparent;
    border: 3px solid $secondaryColor; 
    color: #fff; 
  }
}


.input--secondary {
  position: relative;
  margin-bottom: rem-calc($base-magic-number); 
  
  &:before {
    content: " "; 
    left: 0; 
    top: 0; 
    bottom: 0; 
    background-color: $accentColor; 
    height: 100%;
    width: 0; 
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
    position: absolute;
    z-index: 4; 
  }

  &:after {
    content: " "; 
    right: 0; 
    top: 0; 
    bottom: 0; 
    width: 0; 
    height: 100%; 
    position: absolute;
    background-color: $primaryColor;
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 0; 
  }

  &.is-active {

    &:before {
      width: 3px;
    }

    &:after {
      width: 100%;
    }

    input {
      outline: 0;
    }
  }


  &.is-filled {
    label {
      opacity: 0; 
    }
  }

  label {
    position: absolute;
    color: #fff;
    top: 0; 
    margin: auto;
    bottom: 0; 
    font-weight: bold; 
  }

  input {
    width: 100%;
    margin-bottom: 0; 
    z-index: 2; 
    position: relative;
    font-family: $primary-font-family;
    font-weight: normal; 
    background-color: transparent;
    border: 3px solid $primaryColor; 
    color: #fff; 
  }
}


.input--small {

  label,
  input {
    height: rem-calc(40px);
    padding: rem-calc($level1);
  }
  
  input {
    padding-left: rem-calc($level2); 
  }
}

.input--medium {
  input {
    height: rem-calc(48px);
    padding-left: rem-calc($level2); 
  }

  label {
    padding: rem-calc($level2); 
  }
}





/*================ Custom Text Area style ================*/

.textarea--primary {
  position: relative;

  &.is-active {
    label {
      opacity: 0; 
      z-index: 0; 
    }
  }

  textarea {
    background-color: transparent;
    border: 3px solid $secondaryColor;
    width: 100%; 
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
    color: #fff;
    font-weight: normal; 
    font-family: $primary-font-family; 
    padding: rem-calc($level2); 

    &:active, 
    &:focus {
      outline: 0; 
      border-color: #fff; 
    }
  }

  label {
    position: absolute;
    padding: rem-calc($level2); 
    top: 0; 
    left: 0; 
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
  }
}






/*================ Error styles ================*/
input,
select,
textarea {
  &.input-error {
    border-color: $color-error;
    background-color: $color-error-bg;
    color: $color-error;
  }
}

