/*============================================================================
  Form scaffolding
    - Selectors setup for you to style form elements how you want
    - Focus, error, and disabled states are set to be extended
==============================================================================*/
input,
textarea,
select {
  border: 1px solid $color-border;
  border-radius: 0;
  max-width: 100%;
  margin-bottom: rem-calc($base-magic-number); 
  font-family: $secondary-font-family; 

  &:focus {
    // You should add some focus styles
  }

  &[disabled] {
    cursor: default;
    background-color: $color-disabled;
    border-color: $color-disabled-border;
  }
}

textarea {
  min-height: 100px;
}

/*================ Custom select style ================*/
select {
  margin-bottom: rem-calc($base-magic-number); 
  font-family: $primary-font-family; 
  background-position: right center;
  @include prefix(appearance, none, webkit moz spec);
  background: {
    image: url($svg-select-icon);
    repeat: no-repeat;
    position: right 10px center;
    color: transparent;
  }
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;

  /*================ Hide the svg arrow in IE9 ================*/
  .ie9 & {
    padding-right: 10px;
    background-image: none;
  }
}

select::-ms-expand {
  display: none;
}


.select--primary {
  background-color: transparent;
  border: 2px solid $secondaryColor; 
  color: #fff; 
  font-weight: bold; 
}


/*================ Custom select style ================*/

.select--small {
  padding: rem-calc($level1);
}


.select--medium {
  padding: rem-calc($level2);
}



/*================ Custom select style ================*/

.input--primary {
  background-color: transparent;
  border: 2px solid $secondaryColor; 
  color: #fff; 
  font-weight: bold; 
}


.input--small {
  padding: rem-calc($level1);
}


.input--medium {
  padding: rem-calc($level2);
}


/*================ Error styles ================*/
input,
select,
textarea {
  &.input-error {
    border-color: $color-error;
    background-color: $color-error-bg;
    color: $color-error;
  }
}
