


/*------------------------------------*\
    #Collection Menu & Filtering 
\*------------------------------------*/


.collectionMenu {
  @include media-query($large-up) {
    z-index: 2; 
    max-width: rem-calc(180px); 
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%;
    margin-left: 7%;
  }
}


.collectionCategories {
  overflow-x: scroll; 
  max-width: 100%;
  width: 100%;
  min-width: 100vw;
  position: relative;
  padding: rem-calc(3px); 
  border-bottom: 1px solid #3c3737;
  margin-bottom: rem-calc($level4); 

  .swiper-container {
    width: 100%;
  }

  @include media-query($large-up) {
    padding-bottom: rem-calc($level4); 
    border-bottom: 1px solid $quintenaryColor;
    margin-bottom: rem-calc($level4);  
    max-width: auto; 
    min-width: auto;
    overflow: visible;
  }

  @include media-query($large-up) {
    color: #fff;
  }


  ul {
    margin-bottom: 0; 
  }

  .menu-item {
    background-color: transparent;
    border-right: 1px solid #3c3737;
    margin-right: rem-calc($level2); 
    text-align: center; 
    padding-left: rem-calc($level1);
    padding-right: rem-calc($level1);
    min-width: 9.75rem; 
    @include text-micro();

    @include media-query($large-up) {
      text-align: left; 
      margin-bottom: rem-calc($level1); 
      border-right: 0; 
      padding-left: 0;
      padding-right: 0;
      min-width: auto;
      margin-bottom: 0; 
      @include h6(); 
    }
  
    &.is-active {
      a.menu-link {
        font-weight: bold; 

        @include media-query($large-up) {
          border-bottom: 2px solid $accentColor;
        }
        
        &:after {
          opacity: 1;

          @include media-query($medium-up) {
            opacity: 0; 
          }
        }
      }
    }
    
    a {
      padding: rem-calc($level3); 
      color: #fff;
      display: block; 
      position: relative;
      width: 100%;

      @include media-query($medium-up) {
        padding: 0;
        text-align: left; 
      }

      &:hover, 
      &:focus {
        font-weight: bold; 
        @include media-query($large-up) {
          border-bottom: 2px solid $accentColor;
        }
      }

      &:after {
        content: " ";
        left: 0; 
        right: 0;
        bottom: -3px;
        position: absolute;
        background-color: $accentColor;
        height: 2px;
        width: 100%;
        opacity: 0;
      }
    }

    .collection-total {
      @include media-query($large-up) {
        color: $quintenaryColor;
        @include text-micro(); 
      }
    }

    .dropDown {
      margin-top: rem-calc(3px);
      margin-bottom: rem-calc($level1); 
      display: none; 
      padding-left: rem-calc($level2); 

      &.is-showing {
        display: block;
      }
    }

    .menu-link {
      color: #fff;
    }
  }

}


.collectionChildCategories {
  width: 100%;
  overflow-x: scroll; 
  overflow-y: hidden; 
  min-width: 100vw; 
  top: -25px;
  background-color: $senaryColor;
  position: relative;
  border-bottom: 1px solid #3c3737;
  display: none;

  &.is-active {
    display: grid;
    @include media-query($large-up) {
        display: none; 
    }
  }

  .collectionChildCategories-list {
    text-align: center; 
    padding-left: rem-calc($level1);
    padding-right: rem-calc($level1);
    display: none;
    margin-bottom: 0; 
    height: rem-calc(42px); 
    @include text-micro();

    .subCategory {
      min-width: rem-calc(80px); 
    }

    &.is-active {
      display: flex; 

      a {
        font-weight: bold; 
        width: 100%;
        
        &:after {
          opacity: 1;

          @include media-query($medium-up) {
            opacity: 0; 
          }
        }
      }
    }
    
    a {
      padding: rem-calc($level3); 
      color: #fff;
      display: block; 
      position: relative;
      width: 100%;

      @include media-query($medium-up) {
        padding: 0;
        text-align: left; 
      }

      &:hover, 
      &:focus {
        font-weight: bold; 
        @include media-query($large-up) {
          border-bottom: 2px solid $accentColor;
        }
      }

      &:after {
        content: " ";
        left: 0; 
        right: 0;
        bottom: -3px;
        position: absolute;
        background-color: $accentColor;
        height: 2px;
        width: 100%;
        opacity: 0;
      }
    }

    .dropDown {
      margin-top: rem-calc(3px);
      margin-bottom: rem-calc($level1); 
      display: none; 
      padding-left: rem-calc($level2); 

      &.is-showing {
        display: block;
      }
    }

    .menu-link {
      color: #fff;
    }
  }

}

.collection-color-filter {
  max-width: rem-calc(290px); 

  ul {
    margin-bottom: 0; 
  }

  .colorSwatch {
    height: rem-calc(36px);
    width: rem-calc(36px);
    display: inline-block; 
    position: relative;
    margin-right: rem-calc($level3);
    margin-bottom: rem-calc($level3);
    border-radius: 100%; 
    border: .25px solid $quintenaryColor;

    @include media-query($large-up) {
      height: rem-calc(24px);
      width: rem-calc(24px);
      margin-right: rem-calc($level1);
      margin-bottom: rem-calc($level1);
    }

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1; 
      opacity: 0; 
    }

    .colorSwatch-check {
      opacity: 0; 
      position: absolute;
      left: 0; 
      right: 0;
      bottom: 0;
      top: 0; 
      color: white;
      z-index: 0; 

      &:before {
        content: "X";
        position: absolute;
        z-index: 1; 
      }
    }

    input:checked + .colorSwatch-check {
      opacity: 1; 
    }

    label {
      position: absolute;
      opacity: 0; 
      z-index: -1; 
    }
  }
}






/*------------------------------------*\
    #Collection Filters
\*------------------------------------*/


.collectionFilters{
  position: fixed;
  top: 0;
  background-color: rgba(56,54,66, 0.98);
  left: 0; 
  width: 100%;
  z-index: 99999;
  height: 100vh;
  min-height: 100%;
  transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
  max-width: rem-calc(420px); 

  @include media-query($large-up) {
    position: relative;
    background-color: transparent;
    height: auto;
    min-height: 1px; 
    z-index: 1; 
    left: 0; 
    width: auto;
    overflow: visible;
    max-width: 100%; 
  }

  &.is-hidden {
    transform: translateY(100%);

    @include media-query($large-up) {
      transform: translateY(0); 
    }
  }

  .collectionFilters-title {
    text-transform: uppercase;
    font-weight: bold; 
    display: block;
    margin-bottom: rem-calc($level2); 
    font-family: $secondary-font-family; 
  }
  
  .collectionFilters-close {
    position: relative;
    width: rem-calc(24px);
    height: rem-calc(24px);

    button {
      margin-bottom: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      text-align: center;
      margin: auto;
      top: -2px;
      bottom: 0;
      right: -2px;
      left: 0;

      &:after,
      &:before {
        content: ""; 
        height: 2px;
        background-color: $accentColor; 
        width: 100%;  
        left: 0; 
        right: 0; 
        position: absolute;
        transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 
      }

      &:before {
        top: 50%; 
        transform: translateY(0) rotate(-45deg); 
      }

      &:after {
        top: 50%; 
        transform: translateY(0) rotate(45deg); 
      }

      &:hover,
      &:focus {
        transform: scale(1.1); 
      }

    }
  }
  
  .collectionFilters-clear {

    button {
      margin-bottom: 0; 
      color: $quintenaryColor;
      &:hover, 
      &:focus {
        color: #fff; 
      }
    }
  }
  .collectionFilters-footer {
    padding: rem-calc($level2);
    width: 100%;
    background-color: $secondaryColor;
    position: absolute;
    left: 0; 
    bottom: 0; 
    right: 0; 
    z-index: 1; 
    border-top: 1px solid $senaryColor; 
  }


  .collectionFilters-filters {
    overflow-y: auto; 
    height: 100vh;
    top: rem-calc(72px);
    position: absolute;
    padding-bottom: 180px;

    @include media-query($large-up) {
      position: relative;
      top: 0; 
      padding-bottom: rem-calc($level7); 
      height: auto;
      overflow: visible;
      overflow-y: visible; 
    }
  }

  .collectionFilters-header {
    padding: rem-calc($level2);
    padding-top: rem-calc($level3);
    padding-bottom: rem-calc($level3);
    width: 100%;
    background-color: $secondaryColor;
    position: absolute;
    left: 0; 
    top: 0; 
    right: 0;    
    z-index: 1; 
    border-bottom: 1px solid $senaryColor; 
  }

  .collectionFilters-inner {
    padding: rem-calc($level2);
    padding-top: rem-calc($level7 + $level7); 
    position: relative;
    top: 0; 
    bottom: 0; 
    right: 0; 
    left: 0; 
    width: 100%;
    overflow-y: hidden; 
    height: 100%;

    @include media-query($large-up) {
      padding: 0;
      overflow: visible;
      padding-top: 0; 
      width: auto;
      height: auto;
    }
  }

  .collectionFilters-filter {
    padding: rem-calc($level3);
    padding-left: 0; 
    padding-right: 0; 
    margin-right: rem-calc($level3);
    margin-left: rem-calc($level3);
    border-bottom: 1px solid $senaryColor; 

    @include media-query($large-up) {
      padding: 0;
      margin-bottom: rem-calc($level4);  
      margin-right: rem-calc(0);
      margin-left: rem-calc(0);
    }

    .collectionFilters-filter-title {
      font-weight: bold; 
      margin-bottom: rem-calc($level2); 
      display: block;
    }
  }

  .collectionFilters-viewResults {
    margin-bottom: 0; 

    .collectionFilters-viewResults-results {
      display: inline;
      width: rem-calc(30px);
      span {
        display: inline;
      }
    }
  }
}


.collectionFilterToggles {
  margin-bottom: rem-calc($level5); 

  .collectionFilterToggle {
    margin-left: auto;
    position: relative;
    margin-right: auto;
    left: 0; 
    right: 0;
    width: auto; 
    margin-left: rem-calc($level3);
    color: #fff;
    margin-bottom: 0; 
    min-width: rem-calc(100px);
    border: 2px solid transparent;

    span {
      width: rem-calc(17px);
      display: inline-block;
      height: rem-calc(17px);
      position: relative;
      top: 2px;
      margin-right: rem-calc(6px);

      svg {
        width: 100%;
        height: 100%;
        color: $accentColor;
        fill: #fff;
      }
    }

    button {

      &:active {
        border: 2px solid $accentColor;
      }
    }

  }
    
  .collectionSortingToggle {
    margin-right: rem-calc($level3); 
    
    div {
      margin-bottom: 0; 
    }
    select {
      min-width: rem-calc(120px); 
      margin-bottom: 0; 
    }

    @include media-query($large-up) {
      max-width: rem-calc(200px); 
    }
  }
}


.filter-off-canvas-open {
  overflow: hidden; 
}



.collectionActiveTags {

}

.activeTags {
  margin-bottom: 0; 

  @include media-query($medium-up) {
    padding: rem-calc($level2); 
    padding-top: 0; 
    padding-bottom: rem-calc($level5); 
  }

  .activeTags-tag {
    color: #fff;
    margin-right: rem-calc($level1); 
    background-color: $secondaryColor;
    margin-bottom: rem-calc($level1); 
    padding: rem-calc($level1); 
    padding-top: rem-calc(3px);
    padding-bottom: rem-calc(3px);
    width: auto; 
    position: relative;
    @include text-micro(); 

    a {
      color: #fff;
      margin-right: rem-calc($level1); 
      height: rem-calc(10px);
      width: rem-calc(10px);
      position: relative;

      &:after,
      &:before {
        content: ""; 
        height: 2px;
        background-color: #fff; 
        width: 100%;  
        left: 0; 
        right: 0; 
        position: absolute;
        transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 
      }

      &:before {
        top: 50%; 
        transform: translateY(0) rotate(-45deg); 
      }

      &:after {
        top: 50%; 
        transform: translateY(0) rotate(45deg); 
      }
    }

    h2 {
      margin-bottom: 0; 
      text-transform: capitalize;
      @include text-micro(); 
    }
  }
}

.collectionFilters-noResults {
  height: 100%;
  min-height: 60vh; 
  text-align: center; 
  
  h1 {
    margin-bottom: rem-calc($level2); 
  }
}
