

/*------------------------------------*\
    #Copy Sections 
\*------------------------------------*/


.copySection {

  .copySection-inner {
    background-color: transparent;
    width: 100%;
    padding-top: $column-gutter / 2; 
    padding-bottom: $column-gutter / 2; 
    position: relative;

    &:before {
      content: " ";
      background-color: rgb(56, 54, 65);
      width: 100%;
      height: 100%; 
      position: absolute;
      top: 0;
      bottom: 0;
      left:  0; 
      right: 0; 
      margin: auto;

      @include media-query($medium-up) {
        height: 82%;
      }

    }
  }

  .copySection-accent {
    position: absolute;
    width: rem-calc(30px);
    height: rem-calc(30px);

    @include media-query($medium-up) {
      width: rem-calc(48px);
      height: rem-calc(48px);
    }
  }
  
  .copySection-copy {
    max-width: rem-calc(370px);
    position: relative;


    @include media-query($medium-up) {
      margin-bottom: 0; 
      max-width: 16rem; 
    }

    @include media-query($large-up) {
      max-width: 19rem; 
      margin-bottom: rem-calc($level7);
    }
  }

  .copySection-imageContainer {
    width: 100%; 
    img {
      width: 100%; 
    }
  }
}






/*------------------------------------*\
    #Copy Section Types
\*------------------------------------*/


.copySection--alt {

  .copySection-inner {
    &:before {
      content: " ";
      background-color: rgb(56, 54, 65);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;

      @include media-query($medium-up) {
        height: 55%; 
      }

    }
    
    .copySection-headline {
      max-width: rem-calc(120px);

      @include media-query($medium-up) {
        max-width: rem-calc(200px);
        @include text-giga(); 
      }

      @include media-query($large-up) {
        @include text-giga(); 
      }

    }
    
    .copySection-copy {
      @include media-query($medium-up) {
        margin-bottom: rem-calc($level7); 
      }
    }
  }
}


.copySection--right {
  padding-left: rem-calc($level4); 

  @include media-query($medium-up) {
    padding-left: 0; 
  }

  .copySection-accent {
    left: -1.4rem; 
    bottom: 0;
    top: 45%;
  }

  .copySection-imageContainer {

    @include media-query($medium-up) {
      left: rem-calc(-12px);
    }

    @include media-query($large-up) {
      left: rem-calc(-24px);
    }

  }

  .copySection-copy {
     @include media-query($large-up) {
      right: rem-calc(-12px);
    }
  }
}



.copySection--left {
  padding-right: rem-calc($level4); 

  @include media-query($medium-up) {
    padding-right: 0; 
  }

  .copySection-accent {
    right: -.9rem; 
    width: rem-calc(30px);
    bottom: 0;
    top: 45%;
  }

  .copySection-imageContainer {

    @include media-query($medium-up) {
      right: rem-calc(-12px);
    }

    @include media-query($large-up) {
      right: rem-calc(-24px);
    }
  }

  .copySection-copy {
    @include media-query($large-up) {
      left: rem-calc(-12px);
    }
  }

}





/*------------------------------------*\
    #Copy Section Images
\*------------------------------------*/

.copySection-imageContainer {
  z-index: 106; 
  position: relative; 

  @include media-query($medium-up) {
    height: rem-calc(230px); 
    width: 100%; 
  }

  .copySection-imageContainer-inner {

    @include media-query($medium-up) {
      position: absolute; 
      width: 100%; 
    }
  }
}


.copySection-imageContainer--offset {
  
  @include media-query($medium-up) {
    top: rem-calc(-1 * ($level7)); 
  }

  @include media-query($large-up) {
    top: rem-calc(-80px);
  }
}


.copySection-imageContainer--right {

  .copySection-imageContainer-image {
    
    padding: rem-calc($level1); 

    @include media-query($large-up) {
      padding-right: rem-calc($level3); 
    }
  }
}
