

/*------------------------------------*\
    #Copy Sections 
\*------------------------------------*/


.copySection {

  .copySection-inner {
    background-color: transparent;
    width: 100%;
    @extend %position-relative; 

    &:before {
      content: " ";
      background-color: rgb(56, 54, 65);
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 94%; 

      @include media-query($medium-up) {
        height: 83%;
      }

    }

    @include media-query($medium-up) {
      padding-top: rem-calc($level7 + $level2);
      padding-bottom: rem-calc($level7 + $level2);
    }
  
    @include media-query($large-up) {
      padding-top: rem-calc($level7 + $level3);
      padding-bottom: rem-calc($level7 + $level3);
    }
  }

  .copySection-accent {
    @extend %position-absolute; 
  }
  
  .copySection-copy {
    margin-bottom: rem-calc($level3);
    max-width: rem-calc(370px);
    position: relative;

    @include media-query($medium-up) {
      margin-bottom: 0; 
      max-width: 16rem; 
      margin-bottom: rem-calc($level4);
    }

    @include media-query($large-up) {
      max-width: 19rem; 
      margin-bottom: rem-calc($level7);
    }

    .copySection-headline {
      @include h1(); 

      @include media-query($large-up) {
        @include text-kilo(); 
      }
    }

    .copySection-body {
      p {
        @include media-query($medium-up) {
          margin-bottom: 0; 
        }
      }
    }

    .copySection-headline--secondary {

      @include media-query($medium-up) {
        @include text-mega(); 
      }

      @include media-query($large-up) {
        @include text-giga(); 
      }

    }
  }
}






/*------------------------------------*\
    #Copy Section Types
\*------------------------------------*/


.copySection--alt {

  .copySection-inner {
    &:before {
      content: " ";
      background-color: rgb(56, 54, 65);
      height: 90%;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;

      @include media-query($medium-up) {
        height: 66%; 
      }

    }
    
    .copySection-headline {
      max-width: rem-calc(120px);

      @include media-query($medium-up) {
        max-width: rem-calc(200px);
      }
    }
    
    .copySection-copy {
      @include media-query($medium-up) {
        margin-bottom: rem-calc($level7); 
      }
    }
  }
}


.copySection--right {
  padding-left: rem-calc($level4); 

  @include media-query($medium-up) {
    padding-left: 0; 
  }

  .copySection-accent {
    left: -.9rem; 
    width: rem-calc(30px);
    bottom: 0;
    top: 45%;
  }

  .copySection-imageContainer {
    @include media-query($medium-up) {
      left: rem-calc(-12px);
    }

    @include media-query($large-up) {
      left: rem-calC(-24px);
    }
  }

  .copySection-copy {
     @include media-query($large-up) {
      right: rem-calC(-12px);
    }
  }
}



.copySection--left {
  padding-right: rem-calc($level4); 

  @include media-query($medium-up) {
    padding-right: 0; 
  }

  .copySection-accent {
    right: -.9rem; 
    width: rem-calc(30px);
    bottom: 0;
    top: 45%;
  }

  .copySection-imageContainer {

    @include media-query($medium-up) {
      right: rem-calc(-12px);
    }

    @include media-query($large-up) {
      right: rem-calc(-24px);
    }
  }

  .copySection-copy {
    @include media-query($large-up) {
      left: rem-calc(-12px);
    }
  }

}


.copySection--center {
  padding-right: rem-calc($level4);
  padding-left: rem-calc($level4);
}


//Behaves like left on small, but like right on larger)
.copySection--leftAlt {
  margin-right: rem-calc($level4); 

  @include media-query($medium-up) {
    margin-right: 0; 
  }

  .copySection-accent {
    left: rem-calc(-18px);
    width: rem-calc(30px);
    bottom: 0;
    top: 45%;
  }

  .copySection-copy {
    
    @include media-query($medium-up) {
      right: rem-calc(-1 * $level4); 
    }


    @include media-query($large-up) {
      padding: 0; 
      padding-right: rem-calc($level4);
    }
  }
}








/*------------------------------------*\
    #Copy Section Images
\*------------------------------------*/

.copySection-imageContainer {
  z-index: 106; 
  position: relative; 

  @include media-query($medium-up) {
    height: rem-calc(260px); 
  }

  .copySection-imageContainer-inner {

    @include media-query($medium-up) {
      position: absolute; 
      width: 100%; 
    }
  }
}


.copySection-imageContainer--offset {
  
  @include media-query($medium-up) {
    top: rem-calc(-1 * ($level7)); 
  }

  @include media-query($large-up) {
    top: rem-calc(-80px);
  }
}


.copySection-imageContainer--right {

  .copySection-imageContainer-image {
    
    padding: rem-calc($level1); 

    @include media-query($large-up) {
      padding-right: rem-calc($level3); 
    }
  }
}
