

/*------------------------------------*\
    #Error Screens
\*------------------------------------*/

.errorScreen {
  
  background-color: black; 
  height: 100vh; 
  width: 100%; 
  overflow: hidden; 
  background-image: url('https://www.jpl.nasa.gov/assets/images/content/tmp/home/missions_bg_image.jpg'); 

  .errorScreen-copy {

    height: 100vh; 
    color: #fff; 
    
    a {

      color: #fff; 
        

        &:hover, 
        &:focus {

          color: $accentColor; 
        }
    }

  }
  
}