

/*------------------------------------*\
    #Featured Product Thumbnails
\*------------------------------------*/


.featuredProductThumb {
  margin-bottom: rem-calc($level4); 
  position: relative;
  display: block; 
  
  .featuredProductThumb-title {
    color: $quaternaryColor; 
    position: absolute;
    bottom:0; 
    margin-bottom: 0;   
    left: rem-calc($level1); 
    bottom: rem-calc(3px);
    @include text-micro; 
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
  }

  &:after {
    content: " ";
    width: 100%;
    height: rem-calc(6px);
    position: absolute; 
    bottom: rem-calc(-5px); 
    right: 0; 
    left: 0; 
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
  }

  &:hover, 
  &:focus {
  
    .featuredProductThumb-title {
      color: $primaryColor;
      transform: translateY(-4px);   
    }

    &:after {
      height: rem-calc(12px); 
    }
  }
}


.featuredProductThumb--Solids {
  &:after {
    background-color: #d8244c
    ; 
  }
}


.featuredProductThumb--Striped {
  &:after {
    background-color: #e6d763; 
  }
}


.featuredProductThumb--Braided {
  &:after {
    background-color: #77ddce
    ; 
  }
}


.featuredProductThumb--Ticked {
  &:after {
    background-color: #6c63bf; 
  }
}
