

/*------------------------------------*\
    #Link Groups 
\*------------------------------------*/


.linkGroup {
  
  a {
    color: #fff; 
    font-family: $secondary-font-family; 
    text-transform: uppercase;
  }
  

  &:hover, 
  &:focus {
  
    .linkGroup-icon {
      color: $accentColor; 
      fill: $accentColor; 
    }

    .linkGroup-icon {
      transform: translateX(5px);
    }
  }
  

  .linkGroup-label {
    padding-right: rem-calc($level1);
  }
  
  .linkGroup-icon {
    fill: $tertiaryColor; 
    width: 45px;
    height: 22px; 
    transform: translateX(0);
    transition: all .2s ease-in-out; 
  }
}