

/*------------------------------------*\
    #Cart Styles
\*------------------------------------*/



/*------------------------------------*\
    #Cart Toggle
\*------------------------------------*/

.cartToggle {
  background-color: transparent;
  margin-bottom: 0;  
  display: inline-block; 
  color: #fff; 
  text-transform: uppercase; 
  transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 
  
  &.is-opaqued {
    opacity: .3; 
  }

  .cartToggle-total  {
    color: $accentColor; 
    display: inline-block; 
    padding-left: rem-calc(3px); 
    top: -1px;
    position: relative;
  }

  .cartToggle-label {
    display: inline-block; 
    @include text-micro();  
  }
}




/*------------------------------------*\
    #Cart Success Modal (small devices only)
\*------------------------------------*/


.cartSuccessModal {
  position: fixed;
  top: 4.55rem; 
  right: rem-calc($level2); 
  z-index: 10; 
  transform: translateX(140%);
  transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);

  &.is-showing {
    transform: translateX(0);
  }

  .cartSuccessModal-cartTotal {
    position: absolute;
    top: -5px;
    right: 0;
    background-color: $lace-yellow;
    height: rem-calc(24px);
    width: rem-calc(24px);
    display: block; 
    text-align: center; 
    border-radius: 100%;
    color: $secondaryColor;
    z-index: 20;
  }


  .cartSuccessModal-button {
    height: 3.75rem;
    width: 3.75rem;
    display: block;
    margin-bottom: 0; 
    margin-right: 0; 
    color: $secondaryColor;
    background-color: $secondaryColor !important;  //Needed because YOTPO widget interferes
    padding: rem-calc($level1); 
    border-radius: 100%; 
    border: 2px solid $accentColor; 
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
    @include text-micro(); 

    .icon-cart {
      height: rem-calc(28px);
      width: rem-calc(28px); 
      position: absolute;
      top: 0;
      bottom: 0; 
      right: 0; 
      left: 0; 
      margin: auto; 
      fill: $tertiaryColor; 
    }

    &:hover, 
    &:focus {
      opacity: 1; 
      border: 2px solid $accentColor; 
      background-color: $accentColor;
      transform: scale(1); 

      .icon-cart {
        fill: $secondaryColor; 
      }
    }
  }
}





/*------------------------------------*\
    #Off Canvas Cart
\*------------------------------------*/


.offCanvasCart {
  padding-top: 18%;
  width: 100%; 
  height: 100%; 

  &.is-loading {
    .offCanvasCart-loader {
      animation: loader-fade-in .4s forwards; 
    }
  }

  &.is-loaded {
    .offCanvasCart-loader {
      animation: loader-fade-out .4s forwards; 
    }
  }

  .offCanvasCart-loader {
    position: absolute;
    z-index: 3; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    width: 100%; 
    height: 100%; 
    opacity: 0; 
    transform: translateX(100%); 
    background-color: $secondaryColor--translucent;
    transition: all .4s cubic-bezier(0.23, 1, 0.32, 1); 

    .loader {
      position: absolute;
      top: 0; 
      right: 0; 
      left: 0;
      bottom: rem-calc(96px); 
      margin: auto;  
    }
  }

  .offCanvasCart-inner {
    width: 100%; 
    height: 100%; 
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 

    &.is-hidden {
      opacity: 0; 
    }
  }

  .offCanvasCart-emptyMessage {
    padding-right: $column-gutter /2; 
    padding-left: $column-gutter /2; 
    opacity: 0; 
    animation: fade-in .4s forwards; 

    p {
      text-transform: uppercase;
      font-family: $secondary-font-family; 
      @include text-micro(); 
    }
  }

  .offCanvasCart-contents {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%; 
    margin-bottom: rem-calc($level2); 
    position: relative;
    max-height: 66%; 
    height: 100vh;

    @include media-query($large-up) {
      max-height: 63vh; 
    }
    
    &::-webkit-scrollbar {
      width: rem-calc(12px);
      background: $primaryColor;
      display: block;
    }

    &::-webkit-scrollbar-thumb {
      background: $quaternaryColor;
    }
  }

  .offCanvasCart-product {
    width: 100%; 
    background-color: #3E3C49; 
    margin-bottom: rem-calc(1px);
    padding: rem-calc($level1);
    position: relative;
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 

    @include media-query($medium-up) {
      padding: rem-calc($level2);
    }


    &.is-removed {
      opacity: 0; 
    }

    .offCanvasCart-product-name {
      color: #fff; 
      font-family: $secondary-font-family; 
      font-weight: $bold; 
      text-transform: uppercase;
      display: block; 
      @include text-micro();

      &:hover, 
      &:focus {
        color: #fff; 
      }
    }


    .offCanvasCart-product-type {
      color: $quaternaryColor; 
      text-transform: uppercase; 
      font-weight: bold; 
      font-family: $secondary-font-family; 
      margin-bottom: rem-calc($level1);
      display: block; 
      @include text-micro(); 
    }

    .offCanvasCart-product-info {
      padding-left: rem-calc($level2);
      margin-bottom:  0; 
      min-width: rem-calc(142px);

      li {
        width: 100%; 
      }
    }

    .offCanvasCart-product-price {
      color: $primaryColor;
      @include text-micro(); 
    }

    .offCanvasCart-product-image {
      max-width: rem-calc(60px);
    }

    .offCanvasCart-product-qty {
      label {
        text-transform: uppercase;
        color: #fff; 
        display: block; 
        margin-right: rem-calc($level1);
        font-weight: bold; 
        @include text-micro();
      }

      input {
        width: rem-calc(24px);
        height: rem-calc(24px);
        text-align: center;
        padding: rem-calc(2px);
        background-color: $secondaryColor;
        color: #fff; 
        border: 2px solid #fff;
        @include text-micro(); 
      }
    }

   .offCanvasCart-product-remove {
        color: #fff; 
        fill: #fff;   
        position: absolute;
        right: 0;
        top: 0;
        height: rem-calc($level3);
        width: rem-calc($level3); 
        display: block; 
        transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 
        
        @include media-query($medium-up) {
          right: rem-calc($level2);
          top: rem-calc($level2)
        }

        &:hover, 
        &:focus {
          transform: rotate(90deg); 
        }

        &:after,
        &:before {
          content: ""; 
          height: rem-calc(2px);
          background-color: $quaternaryColor; 
          width: 100%;  
          left: 0; 
          right: 0; 
          position: absolute;
          transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 
        }

        &:before {
          top: 50%; 
          transform: translateY(0) rotate(-45deg); 
        }

        &:after {
          top: 50%; 
          transform: translateY(0) rotate(45deg); 
        }
    }

  }


  .offCanvasCart-footer {
    height: 12rem;
    background-color: $secondaryColor;
    position: relative;
    position: absolute;
    bottom: 0;
    width: 100%; 
    padding-top: 12px;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    left: 0;
    right: 0;
  }

  .offCanvasCart-total {
    border-top: 1px solid $primaryColor; 
    border-bottom: 1px solid $primaryColor;
    width: 100%; 
    padding-top: rem-calc($level2);
    padding-bottom: rem-calc($level2);
    padding-left: rem-calc($level1);
    padding-right: rem-calc($level1);
    margin-bottom: rem-calc($level2);
    @include text-micro();

    .offCanvasCart-total-amount {
      @include media-query($medium-up) {
        font-weight: bold; 
        @include h4();
      }
    }

    p {
      margin-bottom: 0; 
    }
  }

  .offCanvasCart-actions {
    width: 100%; 
  }
}


  @keyframes fade-in {
    0% {
      opacity: 0; 
    }

    100% {
      opacity: 1; 
    }
  }



  @keyframes loader-fade-in {
    0% {
      opacity: 0; 
      transform: translateX(100%); 
    }

    1% {
      opacity: 0; 
      transform: translateX(0); 
    }

    100% {
      opacity: 1; 
      transform: translateX(0); 
    }
  }

    @keyframes loader-fade-out {
    0% {
      opacity: 1; 
      transform: translateX(0); 
    }

    99% {
      opacity: 0; 
      transform: translateX(0); 
    }

    100% {
      opacity: 0; 
      transform: translateX(100%); 
    }
  }
  