
/*------------------------------------*\
    #Page Header
\*------------------------------------*/

.pageHeader {

  @extend %position-relative; 

  @media #{$large-up} {

    padding-right: rem-calc(24px); 

  }
  
  .pageHeader-bg {

    width: 100%;
    
    .pageHeader-bg-img {

      width: 100%; 

    }

  }
  
  .pageHeader-contentContainer {

    height: 100%; 
    z-index: 2;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 100%; 
    @extend %position-absolute; 

  }

  .pageHeader-content  {
    
    width: 100%;

    @media #{$large-up} {

      padding-bottom: rem-calc($level3); 
      
    }
    
  }

  .pageHeader-headline  {
    text-transform: capitalize;
    font-family: $tertiary-font-family; 
    @include type-setting(6); 
    @include line-height(3); 

    @media #{$medium-up} {
     
     @include type-setting(7); 
     @include line-height(3); 

    }

  }

  .pageHeader-subline {
    
    font-weight: $normal;
    
    @media #{$medium-up} {
      @include line-height(0);  

    }

    @media #{$large-up} {
      @include line-height(0);  

    }

  }

}




/*------------------------------------*\
    #Page Header Types 
\*------------------------------------*/


.pageHeader--primary {

  .pageHeader-content-inner {
    
    @media #{$medium-up} {

      width: rem-calc(420px); 

    }

    @media #{$large-up} {
      width: rem-calc(600px); 

    }

  }

}

.pageHeader--alt {

  .pageHeader-content-inner {
    
    @media #{$medium-up} {

      width: rem-calc(430px); 

    }

    @media #{$large-up} {

      width: rem-calc(580px); 

    }

  }

  .pageHeader-headline  {
    
    text-transform: none;
    @extend %fwn; 
    @include line-height(4); 
    
    @media #{$large-up} {
     
     @include type-setting(5); 

    }

  }

}
