
/*------------------------------------*\
    #Page Header
\*------------------------------------*/

.pageHeader {
  margin-bottom: rem-calc($level7);
  @extend %position-relative; 

  .pageHeader-bg {
    background-image: url("../assets/shopHeaders--all--small.jpg");
    background-size: cover; 
    background-position: bottom; 

    @include media-query($large-up) {
      background-image: url("../assets/shopHeaders--all--large.jpg");
    }
  }

  @include media-query($medium-up) {
    margin-bottom: rem-calc($level7);
    margin-top: 0; 
  }

  @include media-query($large-up) {
    margin-bottom: rem-calc($level4);
  }
  
  .pageHeader-bg {
    width: 100%;

    .pageHeader-bg-img {
      width: 100%; 
    }
  }
  
  .pageHeader-contentContainer {
    height: 100%; 
    z-index: 2;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 100%; 
    @extend %position-absolute; 
  }

  .pageHeader-content  {
    width: 100%;

    @media #{$large-up} {
      padding-bottom: rem-calc($level3); 
    }
  }

  .pageHeader-headline  {
    text-transform: capitalize;
    font-family: $tertiary-font-family; 
    max-width: 60%; 
    @include text-kilo();

    @include media-query($medium-up) {
      @include text-giga();
    }
  }
}




/*------------------------------------*\
    #Page Header Types 
\*------------------------------------*/


.pageHeader--primary {
  .pageHeader-content-inner {
    @media #{$medium-up} {
      width: rem-calc(420px); 
    }

    @media #{$large-up} {
      width: rem-calc(600px); 
    }
  }
}

.pageHeader--alt {

  .pageHeader-content-inner {
    
    @media #{$medium-up} {
      width: rem-calc(430px); 
    }

    @media #{$large-up} {
      width: rem-calc(580px); 
    }
  }

  .pageHeader-headline  {
    text-transform: none;
    @extend %fwn; 
    @include h1();
    
    @media #{$large-up} {
    @include text-kilo();
    }
  }
}



.pageHeader--Striped {
  
  .pageHeader-bg {
    background-image: url("../assets/shopHeaders--striped--small.jpg");

    @include media-query($large-up) {
      background-image: url("../assets/shopHeaders--striped--large.jpg");
    }
  }
}



.pageHeader--Solid {
  .pageHeader-bg {
    background-image: url("../assets/shopHeaders--solid--small.jpg");

    @include media-query($large-up) {
      background-image: url("../assets/shopHeaders--solid--large.jpg");
    }
  }
}
