
/*------------------------------------*\
    #Parallax Brand Section
\*------------------------------------*/

.parallaxSection {
  
  padding-top: rem-calc($level5); 
  padding-bottom: rem-calc($level5); 

  @media #{$medium-up} {

    padding-top: rem-calc($level7); 
    padding-bottom: rem-calc($level7); 

  }

  .parallaxSection-inner {
    
    height: rem-calc(500px);
    width: 100%;

    @media #{$medium-up} {

      height: rem-calc(300px); 
      width: 70%; 

    }

    @media #{$large-up} {

      height: rem-calc(400px);
      width: 65%; 

    }

    .parallaxSection-item {
      
      width: rem-calc(200px);
      margin-left: auto;
      margin-right: auto;
      display: block;

      .clickable {

        @include transition(all .2s ceaser($easeInOutCubic));
        @include transform(translateY(0));

        &:hover,
        &:focus {

          @include transform(translateY(-20px));

        }

      }

      @media #{$medium-up} {

        width: 13.5rem; 
        margin: 0; 

      }
      
    }

    .parallaxSection-item:nth-child(1) {

      @include transform(translateX(0)); 

      @media #{$medium-up} {  

        left: auto;
        @include transform(translateX(125%)); 

      }

      @media #{$large-up} {

        @include transform(translateX(206%)); 

      }

    }

    .parallaxSection-item:nth-child(2) {

      @include transform(translateY(-120px)); 

      @media #{$medium-up} {

        @include transform(translateY(-253px) translateX(-8%));

      }

      @media #{$large-up} {
      
        width: 24rem;

      }

    }

    .parallaxSection-item:nth-child(3) {

      @include transform(translateY(-180px) translateX(6%));

      @media #{$medium-up} {

        @include transform(translateY(-479px) translateX(163%));
        
      }

      @media #{$large-up} {
        width: rem-calc(330px); 
        @include transform(translateY(-609px) translateX(160%));
        
      }

    }

    .parallaxSection-item:nth-child(4) {

      @media #{$medium-up} {

        @include transform(translateY(-489px) translateX(30%));
        
      }


      @media #{$large-up} {
        
        width: rem-calc(380px); 
        @include transform(translateY(-600px) translateX(30%));
        
      }

    }

  }

}


.shoe {

  position: relative; 
  z-index: 4; 
}
.spider {
  
    position: absolute; 
    right: 40px;
    bottom: 20px;
    transform: scale(-1.4) translateX(-130px);
    z-index: 2; 

  &.is-hidden {

    opacity: 0; 


  }
}