

/*------------------------------------*\
    #Product Thumbnails 
\*------------------------------------*/


/*------------------------------------*\
    #Product Thumbnail Containers
\*------------------------------------*/


.productThumbs {
  margin-right: rem-calc(-12px); 
}

.productThumbs--alt {
  
  @include media-query($medium-up) {
    margin-right: rem-calc(-30px); 
  }

  @include media-query($large-up) {
    margin-right: rem-calc(-36px); 
  }
}


.alt-thumbnail {
  flex-grow: 2; 
  flex: 0 0 100% !important; 
  
  @include media-query($medium-up) {
    flex: 0 0 50% !important; 
  }

  .productThumb {
      .productThumb-bg {
        padding-bottom: 66%; 
      }
  }
}





/*------------------------------------*\
    #Product Thumbnails 
\*------------------------------------*/


.productThumb {
  margin-right: rem-calc($level3); 
  margin-bottom: rem-calc($level3); 
  position: relative;
  display: block; 

  &:not(.productThumb--soldOut):hover, 
  &:not(.productThumb--soldOut):focus {

    .productThumb-addToCart {
      transform: scale(1) translateX(0); 
    }

    .productThumb-rating {
      .yotpo.bottomLine .yotpo-bottomline {
        .yotpo-stars {
          transform: translateY(0); 
        }
      }
    }

    .productThumb-description {
      color: #fff; 
    }
    
    .productThumb-bg {
      .productThumb-bg-secondaryImg {
        opacity: 1;
      }
    }
  }
  
  &[data-already-showing="true"] {
    .productThumb-bg {
      img {
        visibility: visible !important; 
        opacity: 1 !important; 
        transform: scale(2);
      }
    }
  }

  .productThumb-inner {
    overflow: hidden;
    position: relative;
    height: 100%; 
    width: 100%; 
  }

  .productThumb-bg {
    width: 100%; 
    background-color: $senaryColor;
    position: relative;
    padding-bottom: 136%; 

    img {
      visibility: hidden; 
      width: 100%; 
      position: absolute;
      top: 0; 
      left: 0; 
      right: 0;
    }

    .productThumb-bg-secondaryImg {
      padding-bottom: 136%;
      position: absolute;
      width: 100%;
      top: 0; 
      left: 0;
      right: 0; 
      opacity: 0;
      transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);
      will-change: opacity; 

      img {
        width: 300%;
        left: 0;
        top: 0;
        object-fit: cover;
        height: 230%;
        margin: auto;
        bottom: rem-calc(-48px);
        object-position: center;
        will-change: opacity; 
      }
    }
  }
  
  .productThumb-tags {
    position: absolute;
    left: 0; 
    top: rem-calc($level2);
    z-index: 2; 

    .productThumb-tag {
      left: rem-calc(-6px); 
      position: relative;
      background-color: red;
      color: #fff;
      font-family: $secondary-font-family; 
      text-align: center; 
      padding-top: rem-calc(2px); 
      padding-bottom: rem-calc(2px); 
      padding-left: rem-calc($level2); 
      padding-right: rem-calc($level2); 
      margin-bottom: rem-calc($level2);
      text-transform: uppercase;
      @include text-micro(); 

      &:before {
        content: " "; 
        border-left: 7px solid transparent; 
        border-right: 0 solid transparent; 
        border-top: 7px solid blue; 
        width: 0;
        height: 0;
        left: 0;
        bottom: -8px; 
        position: absolute;
      }
    }

    .productThumb-tag--bestSeller {
      color: $bestSeller; 
      background-color: $senaryColor;
      animation: tag-bg-animation-best 1.6s ease-in-out forwards infinite;

      &:before {
        border-top: 8px solid darken($bestSeller, 30%); 
      }
    }

    .productThumb-tag--new {
      color: $newPair;
      background-color: $senaryColor;
      animation: tag-bg-animation-new 1.6s ease-in-out forwards infinite;

      &:before {
        border-top: 8px solid darken($newPair, 30%); 
      }
    }
  }
  

  .productThumb-rating {
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 0; 
    width: 100%;

    .yotpo {
      width: 100%;
      position: relative;

      div {
        width: 100%;
        position: relative;
      }
    }

    .yotpo.bottomLine .yotpo-bottomline {
      .yotpo-stars {
          position: absolute;
          padding-bottom: rem-calc(3px); 
          padding-top: rem-calc(3px); 
          bottom: 0; 
          right: 0;
          left: 0; 
          z-index: 3; 
          background-color: #fff; 
          transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);
          display: flex;
          transform: translateY(104%);
          -ms-flex-direction: row; 
          flex-direction: row;
          -ms-justify-content: center; 
          justify-content: center; 

          .rating-star {
           color: $primaryColor !important;
           display: block;
           float: none;
          } 
       
          .text-m {
            display: none;
          }
      }
    }
  }

  .productThumb-addToCart {
    position: absolute;
    top: rem-calc($level2); 
    right: rem-calc($level2); 
    z-index: 2; 
    transform: scale(1) translateX(140%);
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);

    &:hover, 
    &:focus {
      transform: scale(1) translateX(0);
    }

    button,
    .button {
      height: rem-calc(42px); 
      width: rem-calc(42px); 
      background-color: transparent;
      display: block;
      margin-bottom: 0; 
      margin-right: 0; 
      color: $secondaryColor;
      background-color: $secondaryColor;
      padding: rem-calc($level1); 
      border-radius: 100%; 
      border: 2px solid $accentColor; 
      transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);

      .icon-cart {
        height: rem-calc(24px);
        width: rem-calc(24px); 
        position: absolute;
        top: 0;
        bottom: 0; 
        right: 0; 
        left: 0; 
        margin: auto; 
        fill: $tertiaryColor; 
      }

      &:hover, 
      &:focus {
        opacity: 1; 
        border: 2px solid $accentColor; 
        background-color: $accentColor;
        transform: scale(1); 

        .icon-cart {
          fill: $secondaryColor; 
        }
      }
    }

  }

  .productThumb-description {
    width: 100%; 
    background-color: transparent; 
    color: $quintenaryColor; 
    overflow: hidden; 
    width: 100%; 
    left: 0;
    right:0; 
    position: relative;
    bottom: 0; 
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 
    font-weight: bold; 
    text-align: center; 
    @include text-mini(); 
  }

  .productThumb-title {
    padding-top: rem-calc($level1);
    margin-bottom: 0; 
    text-align: left; 
    font-weight: bold; 
    text-align: center; 
    width: 100%;
    color: #fff;
    @include text-micro(); 
    
    @include media-query($medium-up) {
      width: 100%;
    }
  }

  .productThumb-price {
    font-weight: bold; 
    color: $quintenaryColor;
    font-weight: normal; 
  }
}





/*------------------------------------*\
    #Tag Animations
\*------------------------------------*/


@keyframes tag-bg-animation-best {
  0% {
    color: $bestSeller;
  }
  50% {
    color: adjust-hue($bestSeller, 10deg);
  }
  100% {
    color: $bestSeller;
  }
}



@keyframes tag-bg-animation-new {
  0% {
    color: $newPair;
  }
  50% {
    color: saturate($newPair, 17%);
  }
  100% {
    color: $newPair;
  }
}





/*------------------------------------*\
    #Alternative Landscape Product Thumbnail 
\*------------------------------------*/


.productThumb--alt {
  margin-bottom: rem-calc($level4); 

  .productThumb-bg {
    padding-bottom: 66%; 
  }

  @include media-query($medium-up) {
    margin-right: rem-calc($level5); 
    margin-bottom: rem-calc($level5); 
  }
}


.productThumb--soldOut {
  position: relative;
  
  &:hover, 
  &:focus {
    .productThumb-description {
      color: #fff; 
    }
  }
  .productThumb-inner {
    &:before {
      content: " "; 
      position: absolute;
      background-color: $secondaryColor--translucent;
      top: 0; 
      right: 0; 
      bottom: 0; 
      left: 0; 
      width: 100%; 
      height: 100%; 
      z-index: 1; 
    }

    &:after {
      content: "Sold Out"; 
      text-align: center; 
      top: 0; 
      right: 0; 
      left: 0; 
      bottom: 0; 
      margin: auto; 
      height: rem-calc($level2); 
      position: absolute;
      width: 50%; 
      color: #fff; 
      text-transform: uppercase;
      font-weight: bold; 
      z-index: 2; 
    }
  }
}
