

/*------------------------------------*\
    #Product Thumbnails 
\*------------------------------------*/




/*------------------------------------*\
    #Product Thumbnail Containers
\*------------------------------------*/


.productThumbs {
  
  margin-right: rem-calc(-12px); 

}

.productThumbs--alt {
  
  @media #{$medium-up} {

    margin-right: rem-calc(-30px); 
  
  }

  @media #{$large-up} {

    margin-right: rem-calc(-36px); 

  }

}





/*------------------------------------*\
    #Product Thumbnails 
\*------------------------------------*/


.productThumb {
  
  margin-right: rem-calc($level2); 
  margin-bottom: rem-calc($level2); 
    
  .productThumb-inner {

    width: 100%; 
  }

  .productThumb-bg {

    width: 100%; 

  }

  .productThumb-title {

    padding-top: rem-calc($level1);
    padding-bottom: rem-calc($level1); 
    margin-bottom: 0; 
    @include type-setting(-1); 

  }

  .productThumb-description {

    width: 100%; 
    background-color: $secondaryColor; 
    padding-right: rem-calc($level2);
    padding-left: rem-calc($level2);
    color: $tertiaryColor; 
    @include type-setting(-1); 

  }

}


.productThumb--alt {

  margin-bottom: rem-calc($level4); 

  @media #{$medium-up} {
    
    margin-right: rem-calc($level5); 
    margin-bottom: rem-calc($level5); 

  }

  @media #{$large-up} {

    margin-right: rem-calc($level7); 
    margin-bottom: rem-calc($level7); 
  }

}

