

/*------------------------------------*\
    #Quotes
\*------------------------------------*/


.quote {
    border: 4px $quaternaryColor solid; 
    background-color: #000015; 
    color: #fff; 
    @extend .grid; 
    @extend .grid--stretch; 
    @extend %position-relative; 
    @extend %clearfix; 

    @media #{$medium-up} {

        height: rem-calc(160px); 
        overflow: hidden; 

    }

}

.quote-image {

    border-right: 4px $quaternaryColor solid; 
    width: 35%;
    overflow: hidden; 
    @extend %left; 
    
    @media #{$medium-up} {
        
       
        img {
            border-bottom: 4px $quaternaryColor solid;

        }

    }

}


.quote-text {

    width: 65%;
    padding: rem-calc($level1); 
    @extend .grid;
    @extend .grid--center; 
    @extend %position-relative; 
    @extend %text-micro; 
    @extend %left; 
    @extend %fwb; 

    @media #{$medium-up} {
        
        padding: rem-calc($level3); 
        @include type-setting(0); 

    }

}


.quote-author {
    
    font-size: rem-calc(8px); 
    width: 100%; 
    @extend %text-right; 
    
    @media #{$medium-up} {
        
        @include type-setting(0); 

    }

}
