

/*------------------------------------*\
    #Slideshows 
\*------------------------------------*/


.slideshow {
    
    position: relative;
    
    .slick-list {
        width: 100%;     
    }

    .slick-prev,
    .slick-next {
    
        background-color: transparent;
        z-index: 4; 
        position: absolute;

        &:before {
            color: $accentColor; 
            text-decoration: none;
            @extend %iconStyles; 
        }

        @extend .icon--large; 
    }
    
    .slick-prev {
        right: 12%; 
        top: 0; 
        @extend .icon-left-open-big;
    }

    .slick-next {
        right: 12%;
        top: 20%; 
        @extend .icon-right-open-big;
    }
}

