

/*------------------------------------*\
    #Special Promo Tab  
\*------------------------------------*/


.specialPromoTab {
	position: fixed;
	bottom: 0; 
	left: 0; 
	width: 100%; 
	background-color: $accentColor;
	position: fixed;
	padding: rem-calc($level1); 
  z-index: 109; 
  font-family: $secondary-font-family;
	transform: translateY(100%); 

	&.is-showing {
		animation: enter-promo-tab .3s cubic-bezier(0.23, 1, 0.32, 1) forwards; 
	}

	&.is-hidden {
		animation: leave-promo-tab .2s cubic-bezier(0.23, 1, 0.32, 1) forwards; 
	}

	.specialPromoTab-inner {
		text-align: center; 
		width: 100%; 
		height: 100%; 
		position: relative;
		text-transform: uppercase; 
 	  font-weight: bold;

	 	p {
	 	 	margin-bottom: 0; 
	 	 	padding-right: rem-calc($level4); 
	 	 	padding-left: rem-calc($level4); 
 	  	color: $secondaryColor; 
 	  	max-width: rem-calc(435px); 
 	  	margin-right: auto;
    	margin-left: auto;
			
			@include media-query($medium-up) {
				max-width: 100%;
			}
	 	}
	}

	.specialPromoTab-close {
    display: block;
    text-align: center; 
  	height: .6rem;
  	width: 1rem;  
  	position: absolute;
  	right: rem-calc($level2); 
  	top: rem-calc(25px); 
		transform: rotate(45deg); 
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 

    @include media-query($medium-up) {
    	top: rem-calc(14px); 
    }

    &:after,
    &:before {
      content: ""; 
      height: 4px;
      background-color: $secondaryColor; 
      width: 100%;  
      left: 0; 
      right: 0; 
      position: absolute;
      transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 
    }

    &:after {
    	transform: rotate(90deg); 
    }

    &:hover, 
    &:focus {
    	transform: rotate(90deg); 
    }
	}
}

@keyframes enter-promo-tab {

	0%{
		transform: translateY(100%); 
	}

	100% {
		transform: translateY(0); 
	}
}


@keyframes leave-promo-tab {

	0%{
		transform: translateY(0); 
	}

	100% {
		transform: translateY(100%); 
	}
}

