

/*------------------------------------*\
    #View More Header Button
\*------------------------------------*/


@include keyframes(spin) { 100% { @include transform(rotate(360deg)); } }


.viewMoreHeaderButton {
  
  bottom: 0;  
  margin-bottom: rem-calc($level7 + $level5); 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: rem-calc(80px); 
  z-index: 30; 
  @extend %position-absolute; 

  &.is-loading {

    @include animation(spin 1s ease-in-out infinite);

  }

  &:hover, 
  &:focus {

    @include transform(translateY(8px)); 
  }

  @media #{$medium-up} {

    margin-bottom: rem-calc($level7);  

  }

}


.viewMoreHeaderButton--alt {

  margin-bottom: rem-calc($level7); 

}

@include keyframes(indicate-more) {

    0% {
      
      color: #fff; 
      @include transform(translateY(0));

    }

    25% {

       @include transform(translateY(12px)); 

    }

    50% {
      @include transform(translateY(0)); 

    }
  
    75% {
      @include transform(translateY(12px)); 

    }
    100% {
      color: $accentColor; 
      @include transform(translateY(0)); 

    }
}

// @include keyframes(floating) {
//   0% {
//     transform: translate(0%,0%);  
//   }
//   25% {
//     transform: translate(5%,15%); 
//   } 
//   50% {
//     transform: translate(10%,5%); 
//   } 
//   75% {
//     transform: translate(0%,15%); 
//   } 
//   100% {
//     transform: translate(0%,0%);
//   }     
// }
