

/*------------------------------------*\
    #Whisker Icon Styles 
\*------------------------------------*/

.whiskerIcon {
  fill: $secondaryColor; 
  width: rem-calc(33px); 
  height: rem-calc(33px);
  
  &.is-hidden {
    opacity: 0; 
  }

  &.is-active {
      opacity: 1;
  }
}


.whiskerIcon--pink {
  fill: $lace-pink;  
}


.whiskerIcon--yellow {
  fill: $lace-yellow;  
}