
  <!--Page Header Begins--> 
  {% section 'page-header' %}
  <!--Page Header Ends--> 



  <!--Collections Filter Begins--> 
<!--   <div class="row">
    <div class="small-12  medium-11  large-10  medium-centered  columns">
       {% section 'collection-nav' %}
    </div>
  </div> -->
  <!--Collection Filter Ends--> 
  

  <div class="row  row--full">
    <div class="small-12  medium-11  columns">
      <div class="collectionDescription">
        <div class="collectionDescription-inner">
          <p>
            {{collection.description}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--Collection Begins--> 
  <div class="row  row--full">
    <div class="small-12  medium-11  columns">
      <div class="collection  grid  grid--flexDirectionColumn  large-grid--flexDirectionRow">
        <div class="collection-menu">
        {% section 'collection-filtering' %}
        </div>
        <div class="collection-products">
        {% section 'collection' %}
        </div>
      </div>
    </div>
  </div>
  <!--Collection Ends--> 

