
  <!--Page Header Begins--> 
  {% section 'page-header' %}
  <!--Page Header Ends--> 
  

  <!--Collections Filter Begins--> 
  <div class="row">
    <div class="small-12  medium-11  large-10  medium-centered  columns">
       {% section 'collection-nav-boot' %}
    </div>
  </div>
  <!--Collection Filter Ends--> 
  
  <!--Collection Begins--> 
  {% section 'featured-collections-boot' %}
  <!--Collection Ends--> 

