  
  
  <!--Page Header Begins--> 
  {% include 'page-header' %}
  <!--Page Header Ends--> 


  <!--Collection Navigation Begins--> 
  <div class="row">
    <div class="small-12  medium-11  large-10  medium-centered  columns">
       {% section 'collection-nav' %}
    </div>
  </div>
  <!--Collection Navigation Ends--> 
  
  <!-- Collection Begins-->
  {% section 'collection' %}
  <!--Collection Ends-->

