
<div data-collection-id="{{collection.handle}}">
  <!--Page Header Begins--> 
  {% section 'page-header' %}
  <!--Page Header Ends--> 
  
  
  <!--Collection Description--> 
  <div class="row  row--full">
    <div class="small-12  medium-11  columns">
      <div class="collectionDescription">
        <div class="collectionDescription-inner">
          <p>
            {{collection.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--END Collection Description--> 
  
  
  <!--Collection Begins--> 
  <div class="row  ">
    <div class="small-12  medium-11  columns">
      <div class="collection  grid  grid--flexDirectionColumn  large-grid--flexDirectionRow">
        <div class="collection-menu" data-ui-component="collection-menu">
          <div class="collection-menu-inner">
            {% section 'collection-categories' %}
              
            Filters
            {% section 'collection-color-filter' %}
            {% section 'collection-pattern-filter' %}
          </div>
        </div>
        <div class="collection-products">
        {% section 'collection' %}
        </div>
      </div>
    </div>
  </div>
  <!--Collection Ends--> </div>


