
  {% include 'page-header' %}
  

  <!--Collections Filter Begins--> 
  <div class="row">
    <div class="small-12  medium-11  large-10  medium-centered  columns">
       {% section 'collection-nav' %}
    </div>
  </div>
  <!--Collection Filter Ends--> 
  
  <!--Collection Begins--> 
    {% section 'featured-collections' %}
  <!--Collection Ends--> 

