

<main class="section--main">
	<div class="row">
			<div class="small-12 columns medium-10 medium-centered">
				<section>
					<h1>Whiskers Rewards Program</h1>
					<p>
						Our loyalty program is our way of showing appreciation. You’ll earn points for activities on our site, like referrals and purchases. You can use them to earn discounts off purchases, so the more you collect the more you save.
					</p>
				</section>
				<section>
					<h2>Already have an account?</h2>
					<a href="account/login" rel="internal">
						Login Into Your Account 
					</a>
						
					<a href="account/login" rel="internal">
						Create An Account
					</a>
				</section>
			</div>
	</div>
</main>