


{%if customer %}
<section class="section--main  customerAccountHeader">

  <div class="customerAccountHeader-bg">
    <picture>
      <source srcset="{{'icon-pattern-account-header--large.svg' | asset_url}}"
          media="(min-width: 641px)">
       <img src="{{'icon-pattern-account-header.svg' | asset_url}}" alt="">
    </picture>
  </div>

  <div class="customerAccountHeader-inner">
     <div  class="customerAccountHeader-back">
      <a href="/account">Back To Account</a>
    </div>
    <div class="row  medium--smallGutter ">
      <div class="small-12 columns">
        <h1 class="headline">
          Your Rewards
        </h1>
      </div>
    </div>
  </div>
</section>

<main class="rewards customerAccountMain">
  <div class="row">
    <div class="small-12 columns">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</main>
{%else%}

<main class="section--main">

  {%section 'rewards-program-promo-header' %}

  {%section 'rewards-program-promo-how' %}

  {%section 'rewards-program-promo-cta' %}

</main>

{%endif%}