
<article>

  {% section 'lookbook-header' %}
  
  {% section 'lookbook-intro' %}

  {% section 'lookbook-slideshow' %}

  {% section 'lookbook-art-shot' %}

  {% section 'lookbook-slideshow2' %}

  {% section 'lookbook-art-shot-2' %}

  {% section 'lookbook-cta' %}
  
<!--   <div role="presentation">
    <span>Tastefully Wrong</span>

    <p>
      Please keep in mind: Whiskers come wrapped around a spool because they’re evil and may try to take over the top drawer of your dresser. Do not leave them unsupervised!
    </p>
  </div> -->
</article>
