
{% comment %}
  This snippet provides the template for an empty cart;
{% endcomment %}

<script id="EmptyCartTemplate" type="text/template">
  <div class="offCanvasCart-emptyMessage">
    {% raw %}
      <p class="text-center"> 
         {{emptyState}}
      </p>
    {% endraw %}
  </div>
</script>
      