<a href="{{collection.url}}" rel="internal" title="View All {{collection.title}}" class="productThumb">
  <div class="collectionMoreThumb">
     <div class="collectionMoreThumb-inner   grid--center  grid">
				<div class="collectionMoreThumb-content  grid  grid--center  grid--flexDirectionColumn  grid--justifyCenter">
					<p class="grid  grid--center  grid--justifyCenter"> Shop All <br> {{collection.title}}</p>
					<div class="collectionMoreThumb-icon">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path class="ring" d="M22.118 44.236C9.922 44.236 0 34.314 0 22.118S9.922 0 22.118 0s22.118 9.922 22.118 22.118-9.922 22.118-22.118 22.118zm0-42.736C10.75 1.5 1.5 10.749 1.5 22.118c0 11.368 9.25 20.618 20.618 20.618 11.37 0 20.618-9.25 20.618-20.618 0-11.369-9.248-20.618-20.618-20.618z"/><path  class="arrow" d="M19.341 29.884a.75.75 0 0 1-.53-1.281l6.796-6.804-6.796-6.803a.75.75 0 1 1 1.061-1.061l7.325 7.333a.75.75 0 0 1 0 1.061l-7.325 7.333a.742.742 0 0 1-.531.222z"/></svg>
					</div>
				</div>
   	</div>
  </div>
</a>