<a href="{{collection.url}}" rel="internal" title="View All {{collection.title}}" class="productThumb">
  <div class="collectionMoreThumb">
     <div class="collectionMoreThumb-inner   grid--center  grid">
     <p class="grid  grid--center  grid--justifyCenter"> View All <br>	 {{collection.title}}</p>
   </div>
  </div>
</a>