<script  id="collection-template-empty" type="text/template">
<div class="row">
	<div class="small-12 columns medium-10 large-8 medium-centered">
		<div class="collectionFilters-noResults  grid--justifyCenter grid  grid--flexDirectionColumn  grid--middle  grid--center">
			<h1 class="headline">
				That's a negative...
			</h1>
			<p>
			  It appears there are currently no laces that match your query. Let's try something else.
			</p>
		</div>
	</div>
</div>
</script>
