<script  id="collection-template-empty" type="text/template">
<div class="row">
	<div class="small-12 columns medium-10 large-8 medium-centered">
		<div class="collectionFilters-noResults  grid--justifyCenter grid  grid--flexDirectionColumn  grid--middle  grid--center">
			<h1 class="headline">
				Nothin’ to see here...
			</h1>
			<p>
			  This collection doesn’t have any products that match your search right now :/
			</p>
		</div>
	</div>
</div>
</script>
