
  <div class="select--secondary select--small select--expanded">
    <select name="collectionSorting" id="collectionSorting" data-sort-option>
      <option value="" default>Sort by</option>
      <option value="color">Color</option>
      <option value="-date">Newest</option>
    </select>
  </div>
