

/*------------------------------------*\
    #Collection 
\*------------------------------------*/

.collectionContainer {
  max-width: rem-calc(1000px); 
  min-height: 100vh;
  width: 100%; 
  position: relative;
}


.collectionDescription {
  margin-top: -30px; 
  position: relative;
  z-index: 1; 
  @include text-micro(); 

  .collectionDescription-inner {
    padding: rem-calc($level2); 

    @include media-query($medium-up) {
      padding: rem-calc($level2); 
      padding-top: rem-calc($level5); 
      padding-bottom: rem-calc($level5); 
    }

    p {
      margin-bottom: 0; 
    }
  }

  @include media-query($large-up) {
    padding-left: 28%; 
    width: 100%;
  }
}


.collection {
  width: 100%;
  position: relative;
  min-height: 100vh;
  

  .collection-products {
    @include media-query($large-up) {
      padding-left: 28%; 
      width: 100%;
    }
  }
}






/*------------------------------------*\
    #Collection Menu & Filtering 
\*------------------------------------*/


.collectionMenu {

  @include media-query($large-up) {
    z-index: 2; 
    max-width: rem-calc(180px); 
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%;
    margin-top: rem-calc(-42px); 
    margin-left: 7%;
  }
}


.collectionCategories {
  overflow-x: scroll; 
  max-width: 100%;
  min-width: 100vw;
  position: relative;
  padding: rem-calc(3px); 
  border-bottom: 1px solid #3c3737;

  @include media-query($medium-up) {
    padding-bottom: rem-calc($level4); 
    border-bottom: 1px solid $quintenaryColor;
    margin-bottom: rem-calc($level4);  
    max-width: auto; 
    min-width: auto;
    overflow: visible;
  }

  @include media-query($large-up) {
    color: #fff;
  }

  .menu-item {
    margin-bottom: rem-calc($level1); 
    background-color: transparent;
    border-right: 1px solid #3c3737;
    margin-right: rem-calc($level2); 
    text-align: center; 
    padding-left: rem-calc($level1);
    padding-right: rem-calc($level1);
    min-width: rem-calc(140px); 
    @include text-micro();

    @include media-query($medium-up) {
      text-align: left; 
      border-right: 0; 
      padding-left: 0;
      padding-right: 0;
      min-width: auto;
      @include h4(); 
    }
  
    &.is-active {
      a.menu-link {
        font-weight: bold; 

        @include media-query($large-up) {
          border-bottom: 2px solid $accentColor;
        }
        
        &:after {
          opacity: 1;

          @include media-query($medium-up) {
            opacity: 0; 
          }
        }
      }
    }
    
    a {
      padding: rem-calc($level3); 
      color: #fff;
      display: block; 
      position: relative;
      width: 100%;

      @include media-query($medium-up) {
        padding: 0;
        text-align: left; 
      }

      &:hover, 
      &:focus {
        font-weight: bold; 
        @include media-query($large-up) {
          border-bottom: 2px solid $accentColor;
        }
      }

      &:after {
        content: " ";
        left: 0; 
        right: 0;
        bottom: -6px;
        position: absolute;
        background-color: $accentColor;
        height: 2px;
        width: 100%;
        opacity: 0;
      }
    }

    .dropDown {
      margin-top: rem-calc(3px);
      margin-bottom: rem-calc($level1); 
      display: none; 
      padding-left: rem-calc($level2); 

      &.is-showing {
        display: block;
      }
    }

    .menu-link {
      color: #fff;
    }
  }

}


.collection-color-filter {
  max-width: rem-calc(290px); 

  ul {
    margin-bottom: 0; 
  }

  .colorSwatch {
    height: rem-calc(36px);
    width: rem-calc(36px);
    display: inline-block; 
    position: relative;
    margin-right: rem-calc($level3);
    margin-bottom: rem-calc($level3);
    border-radius: 100%; 
    border: .25px solid $quintenaryColor;

    @include media-query($large-up) {
      height: rem-calc(24px);
      width: rem-calc(24px);
      margin-right: rem-calc($level1);
      margin-bottom: rem-calc($level1);
    }

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1; 
      opacity: 0; 
    }

    .colorSwatch-check {
      opacity: 0; 
      position: absolute;
      left: 0; 
      right: 0;
      bottom: 0;
      top: 0; 
      color: white;
      z-index: 0; 

      &:before {
        content: "X";
        position: absolute;
        z-index: 1; 
      }
    }

    input:checked + .colorSwatch-check {
      opacity: 1; 
    }

    label {
      position: absolute;
      opacity: 0; 
      z-index: -1; 
    }
  }
}


.collectionFilters{
  position: fixed;
  top: 0;
  background-color: rgba(56,54,66, 0.98);
  left: 0; 
  width: 100%;
  z-index: 99999;
  height: 100vh;
  min-height: 100%;
  transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
  max-width: rem-calc(420px); 

  @include media-query($large-up) {
    position: relative;
    background-color: transparent;
    height: auto;
    min-height: 1px; 
    z-index: 1; 
    left: 0; 
    width: auto;
    max-width: 100%; 
  }

  &.is-hidden {
    transform: translateX(-100%);

    @include media-query($large-up) {
      transform: translateX(0); 
    }
  }

  .collectionFilters-title {
    text-transform: uppercase;
    font-weight: bold; 
    display: block;
    margin-bottom: rem-calc($level2); 
    font-family: $secondary-font-family; 
  }

  .collectionFilters-footer {
    padding: rem-calc($level2);
    width: 100%;
    background-color: $secondaryColor;
    position: absolute;
    left: 0; 
    bottom: 0; 
    right: 0; 
  }

  .collectionFilters-header {
    padding: rem-calc($level2);
    width: 100%;
    background-color: $secondaryColor;
    position: absolute;
    left: 0; 
    top: 0; 
    right: 0;    
  }

  .collectionFilters-inner {
    padding: rem-calc($level2);
    padding-top: rem-calc($level7 + $level2); 

    @include media-query($large-up) {
      padding: 0;
    }
  }

  .collectionFilters-filter {
    padding: rem-calc($level3);
    @include media-query($large-up) {
      padding: 0;
      margin-bottom: rem-calc($level4);  
    }
  
  }
}

.collectionFilterToggle {
  margin-left: auto;
  position: relative;
  margin-right: auto;
  left: 0; 
  right: 0;
  padding: rem-calc($level2);
  @include h4(); 
}




/*------------------------------------*\
    #Collection Category Header
\*------------------------------------*/

.categoryHeader {
  margin-bottom: rem-calc(-18px); 
  padding: rem-calc($level3); 
  padding-bottom: rem-calc($level5); 
  padding-left: rem-calc($level2);
  background-color: $secondaryColor; 
  width: 90%;
  height: rem-calc(84px);
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin-right: auto; 
  margin-left: auto;  
  z-index: 0; 

  @include media-query($large-up) {
    padding-bottom: rem-calc($level6); 

  }

  .categoryHeader-title {
    padding-bottom: rem-calc($level1);
    margin-bottom: 0; 
    text-transform: uppercase; 
    font-family: $secondary-font-family; 
    @include h4(); 

    @include media-query($large-up) {
      padding-left: rem-calc($level4); 
    }
  }

  .categoryHeader-icon {
    right: 0; 
    left: 0; 
    margin: auto; 
    top: -23px; 
    width: rem-calc(32px);
    position: absolute;
  }
}




/*------------------------------------*\
    #Collection Container
\*------------------------------------*/

.collectionNav {
  margin-bottom: rem-calc($level5); 
  width: 100%; 

 .collectionNav-title {
    text-transform: uppercase; 
    font-weight: bold; 
    margin-right: rem-calc($level1); 
    @include text-micro(); 
  }

  .collectionNav-menu:last-child {
    margin-bottom: 0; 
  }

  .collectionNav-menu {
    margin-bottom: rem-calc($level1);

    .collectionNav-menu-item {
      margin-right: rem-calc($level2); 
      color: $quintenaryColor; 
    }
 
    .collectionNav-menu-link {
      color: $secondaryColor; 
      transition: all .3s cubic-bezier(0.23, 1, 0.32, 1); 
      position: relative;

      &:after {
        content: " "; 
        height: 2px;
        background-color: transparent;
        position: absolute;
        width: 100%; 
        bottom: 0; 
        left: 0; 
        right: 0; 
        opacity: 0; 
        transform: translateY(4px); 
        transition: all .3s cubic-bezier(0.23, 1, 0.32, 1); 
      }

      &:hover, 
      &:focus {
        color: $quintenaryColor; 
      }

      &.is-active {
        color: #fff; 

        &:after {
          opacity: 1; 
          transform: translateY(0); 
          background-color: $accentColor; 
        }
      }
    }
  }
}
