
/*------------------------------------*\
    #Collection 
\*------------------------------------*/


/*------------------------------------*\
    #Collection Container
\*------------------------------------*/

.collectionContainer {
  max-width: rem-calc(1000px); 
  min-height: rem-calc(380px);
  width: 100%; 
}





/*------------------------------------*\
    #Collection Category Header
\*------------------------------------*/

.categoryHeader {
  margin-bottom: rem-calc(-18px); 
  padding: rem-calc($level3); 
  padding-bottom: rem-calc($level5); 
  background-color: $secondaryColor; 
  position: relative;
  width: 90%;
  margin-right: auto; 
  margin-left: auto;  

  @include media-query($large-up) {
    padding-bottom: rem-calc($level6); 
  }

  .categoryHeader-title {
    padding-top: rem-calc($level1);
    padding-bottom: rem-calc($level1);
    padding-left: rem-calc($level1);  
    margin-bottom: 0; 
    text-transform: uppercase; 
    font-family: $secondary-font-family; 
    @include h4(); 

    @include media-query($large-up) {
      padding-left: rem-calc($level4); 
    }
  }

  .categoryHeader-icon {
    right: 0; 
    left: 0; 
    margin: auto; 
    top: -23px; 
    width: rem-calc(32px);
    position: absolute;
  }
}




/*------------------------------------*\
    #Collection Container
\*------------------------------------*/

.collectionNav {
  margin-bottom: rem-calc($level5); 
  width: 100%; 
  
  .collectionNav-menu {
    margin-bottom: 0; 

    .collectionNav-menu-item {
      margin-right: rem-calc($level2); 
      color: $quintenaryColor; 
    }
    
    .collectionNav-menu-title {
      text-transform: uppercase; 
      font-weight: bold; 
      @include text-micro(); 
    }

    .collectionNav-menu-link {
      color: $secondaryColor; 
      transition: all .3s cubic-bezier(0.23, 1, 0.32, 1); 
      position: relative;

      &:after {
        content: " "; 
        height: 2px;
        background-color: transparent;
        position: absolute;
        width: 100%; 
        bottom: 0; 
        left: 0; 
        right: 0; 
        opacity: 0; 
        transform: translateY(4px); 
        transition: all .3s cubic-bezier(0.23, 1, 0.32, 1); 
      }

      &:hover, 
      &:focus {
        color: $quintenaryColor; 
      }

      &.is-active {
        color: #fff; 

        &:after {
          opacity: 1; 
          transform: translateY(0); 
          background-color: $accentColor; 
        }
      }
    }
  }
}
