
/*------------------------------------*\
    #Contact Page 
\*------------------------------------*/

.contactForm {
	.contactForm-button {
		max-width: 200px;
    right: 0;
    position: relative;
    margin-left: auto;
	}
}