

/*------------------------------------*\
    #Customer Account Pages
\*------------------------------------*/

.customerAccountHeader {
	padding-bottom: rem-calc($level4);

	@include media-query($medium-up) {

	}
	
	.customerAccountHeader-bg {
		position: absolute;
		top: 0; 
		right: 0;
		height: rem-alc(200px);
		width: 80vw;
		overflow: hidden; 

		img {
			width: 100%;
			height: 100%; 
			object-fit: cover;

			@include media-query($medium-up) {
				transform: translateX(10vw) translateY(-10px);
			}
		}
	}

	.customerAccountHeader-inner {
		padding-top: rem-calc($level7); 
		max-width: rem-calc(870px); 
		margin-right: auto; 
		margin-left: auto; 
		left: 0; 
		right: 0; 

		@include media-query($medium-up) {
			padding-top: rem-calc($level7 + $level7); 
		}
	}

	h1 {
		@include text-kilo(); 
	}
}

.customerInfoPanel {
	background-color: $secondaryColor;
	padding: rem-calc($level2);
	margin-bottom: rem-calc($level4); 
	min-height: rem-calc(270px);

	@include media-query($medium-up) {
		padding: rem-calc($level4);
	}

	.customerInfoPanel-title {
		text-transform: uppercase;
		font-weight: bold; 
		font-family: $secondary-font-family; 
		@include h4(); 
	}

	p {
		@include media-query($large-up) {
			@include h4(); 
		}
	}
}

.customerAccountMain {
	padding-bottom: rem-calc($level7+ $level7); 

	@include media-query($medium-up) {
		max-width: rem-calc(870px); 
		margin-right: auto; 
		margin-left: auto; 
		left: 0; 
		right: 0; 
	}
}