

/*------------------------------------*\
    #Customer Account Pages
\*------------------------------------*/

.customerAccountHeader {
	padding-bottom: rem-calc($level2);
	position: relative;
	
	@include media-query($medium-up) {
		padding-top: rem-calc($level7  + $level5); 
	}

	@include media-query($large-up) {
		padding-top: 0;
	}


	.customerAccountHeader-bg {
		position: absolute;
		top: 0; 
		right: 0;
		height: rem-calc(200px);
		width: 80vw;
		overflow: hidden; 
		padding-bottom: rem-calc($level2); 
		

		@include media-query($medium-up) {
			height: rem-calc(300px);
			width: 90vw;
		}

		@include media-query($large-up) {
			height: rem-calc(200px);
		}

		img {
			width: 100%;
			height: 100%; 
			object-fit: cover;
			transform: translateX(4vw);

			@include media-query($medium-up) {
				transform: translateX(14vw) translateY(-20px);
			}

			@include media-query($medium-up) {
				width: 104%;
				height: 138%;
			}
		}
	}
	

	.customerAccountHeader-back {
		position: absolute;
		top: rem-calc($level4); 
		left: rem-calc($level2); 

		@include media-query($medium-up) {
			top: rem-calc($level5);
		}

		@include media-query($large-up) {
			top: rem-calc($level5);
		}

		a {
			text-transform: uppercase;
			font-family: $secondary-font-family; 
			color: $quintenaryColor;
			@include text-micro(); 

			&:hover, 
			&:focus {
				color: $accentColor;
			}
		}
	}

	.customerAccountHeader-inner {
		padding-top: rem-calc($level7 + $level5); 
		max-width: rem-calc(600px); 
		margin-right: auto; 
		margin-left: auto; 
		left: 0; 
		right: 0; 
		position: relative;

		@include media-query($medium-up) {
			max-width: rem-calc(720px); 
			padding-top: rem-calc($level7 + $level7); 
		}


		@include media-query($large-up) {
			max-width: rem-calc(820px); 
		}

	}

	h1 {
		margin-bottom: rem-calc($level2); 
		@include text-kilo(); 
	}
}







/*------------------------------------*\
    #Customer Account Main Content Container 
\*------------------------------------*/


.customerAccountMain {
	padding-bottom: rem-calc($level7+ $level7); 
	max-width: rem-calc(600px); 
	margin-right: auto; 
	margin-left: auto; 
	left: 0; 
	right: 0; 
	
	@include media-query($medium-up) {
		max-width: rem-calc(720px); 
	}

	@include media-query($large-up) {
		max-width: rem-calc(820px); 
	}
}





/*------------------------------------*\
    #Customer Information Panels
\*------------------------------------*/


.customerInfoPanel {
	background-color: $secondaryColor;
	padding: rem-calc($level3);
	margin-bottom: rem-calc($level4); 

	@include media-query($medium-up) {
		padding: rem-calc($level7); 
	}


	@include media-query($large-up) {
		padding: rem-calc($level4); 
	}

	a {
		color: $accentColor;

		&.customerInfoPanel-altLink {
			border-bottom: 2px solid transparent;  

			&:hover, 
			&:focus {
				opacity: .8;
			}
		}
	}

	.customerInfoPanel-emptyState {
		text-align: center; 
		min-height: rem-calc(180px); 

		p {
			margin-bottom: rem-calc($level2); 
			@include h6(); 
		}

		.customerInfoPanel-emptyState-cta {
			max-width: 70%;
			margin-right: auto; 
			margin-left: auto; 
			left: 0; 
			right: 0;  
		}
	}

	.customerInfoPanel-action {
		color: $quaternaryColor;
		text-transform: uppercase; 
		font-weight: bold; 
		font-family: $secondary-font-family; 
		padding: 0; 
		margin-bottom: rem-calc($level2);
		width: 100%;
		text-align: left; 
		@include h4(); 

		&:hover, 
		&:focus {
			color: $accentColor;
		}
	}

		.customerInfoPanel-action--centered {
		text-align: center; 
	}

	@include media-query($medium-up) {
		padding: rem-calc($level4);
	}

	.customerInfoPanel-title {
		text-transform: uppercase;
		font-weight: bold; 
		font-family: $secondary-font-family;
		margin-bottom: rem-calc($level4);
		@include h4(); 
	}

	.customerInfoPanel-subTitle {
		font-weight: bold; 
		color: $quintenaryColor; 
	}
	

	p {
		@include media-query($large-up) {
			@include h4(); 
		}
	}

	addr {
		@include h4(); 
	}
}


.customerInfoTable {

	@include text-micro(); 

	thead {
		font-family: $secondary-font-family; 
		text-transform: uppercase;
		@include text-mini();
	}

	tr {
		border-bottom: 1px solid $primaryColor; 
		padding: rem-calc(3px);
	}
}


.customerInfoPanel--latestOrder {

	img {
		max-width: rem-calc(120px); 
		margin-right: rem-calc($level2); 
		margin-top: rem-calc($level1); 
	}
}




/*------------------------------------*\
    #Customer Orders 
\*------------------------------------*/


.customerOrder {
	background-color: $secondaryColor;
	padding: rem-calc($level4); 
	padding-bottom: 0; 
	width: 100%;
	position: relative;
	margin-bottom: rem-calc($level2);
	border-bottom: 4px solid $quintenaryColor;

	a {
		color: $accentColor;
	}

	&.is-active {
		.customerOrder-toggle {
			button {
				&:after {
		    transform: translateY(0) rotate(0); 
				}
			}
		}
	}

	&:hover, 
	&:focus {
		background-color: $senaryColor;
		cursor: pointer;
	}

	.customerOrder-toggle {
		position: absolute;
		top: rem-calc($level2);
		right: rem-calc($level2);
		width: rem-calc(16px);
		height: rem-calc(16px);
		z-index: 1; 

		@include media-query($medium-up){
			top: rem-calc(70px);
			right: rem-calc($level4);
			width: rem-calc(20px);
			height: rem-calc(20px);
		}
		
		button {
	    margin-bottom: 0;
	    position: absolute;
	    height: 100%;
	    width: 100%;
	    text-align: center;
	    margin: auto;
	    top: 0;
	    bottom: 0;
	    right: 0;
	    left: 0;

	    &:after,
	    &:before {
	      content: ""; 
	      height: 2px;
	      background-color: $accentColor; 
	      width: 100%;  
	      left: 0; 
	      right: 0; 
	      position: absolute;
	      transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 
	    }

	    &:before {
	      top: 50%; 
	    }

	    &:after {
	      top: 50%; 
	      transform: translateY(0) rotate(90deg); 
	    }

	    &:hover,
	    &:focus {
	      transform: scale(1.1); 
	    }
		}
	}
	
	.customerOrder-primary {
		margin-bottom: 0; 
	}

	.customerOrder-secondary {
		padding-bottom: rem-calc($level4); 
	}

	.customerOrder-property {
		margin-bottom: rem-calc($level4); 
		@include h4(); 
	}
	
	.customerOrder-property-label {
		font-weight: bold; 
		font-family: $secondary-font-family; 
		color: $quintenaryColor;
		margin-bottom: rem-calc($level1); 
	}
	
	.customerOrder-shippingMethod {
		@include h6();  
	}
	
	.customerOrder-lineItems {

		li {
			padding-right: rem-calc($level2);
		}

		li:first-child {
			padding-left: 0; 
		}
	}

	.customerOrder-lineItem {
		margin-bottom: rem-calc($level1); 

		img {
			width: 100%;
			margin-right: rem-calc($level1); 
			margin-bottom: rem-calc($level2); 

			&:hover, 
			&:focus {
				opacity: .8;
			}

			@include media-query($medium-up) {
				max-width: rem-calc(220px); 
			}

		}

		p {
			margin-bottom: 0; 
			@include text-micro(); 

			@include media-query($medium-up) {
				@include h6(); 
			}
		}
	}
}

.customerOrder-status {
	font-weight: bold; 
	text-transform: uppercase; 
	color: #fff;
}

.fulfilled {
	color: #9bd84f;
}


