
/*------------------------------------*\
    #Homepage Styles
\*------------------------------------*/



.whiskersIntro {

  .copySection-inner {
    @include media-query($medium-up) {
      padding-top: rem-calc($level7  + $level7);
      padding-bottom: rem-calc($level7  + $level7);
    }
  
    @include media-query($large-up) {
      padding-top: rem-calc($level7 + $level3);
      padding-bottom: rem-calc($level7 + $level3);
    }

    .copySection-headline {
      max-width: rem-calc(220px); 
      @include h1(); 

      @include media-query($medium-up) {
        max-width: rem-calc(220px); 
      }

      @include media-query($large-up) {
        max-width: 100%; 
        @include text-kilo(); 
      }
    }

    .copySection-imageContainer  {

       & > div {
        width: 100%;
        background-color: transparent;
        overflow: visible; 

        img {
          visibility: visible; 
        }
       }
    }

    p {
      @include media-query($large-up) {
        margin-bottom: 0; 
      }
    }
  }
}





/*------------------------------------*\
    #Shoe Showcase
\*------------------------------------*/

.homeSection {
  
  @include media-query($medium-up) {
    padding-top: 0; 
    padding-bottom: 0; 
  }
}





/*------------------------------------*\
    #Shoe Showcase
\*------------------------------------*/


.shoeShowcase {
  width: 100%; 

  .shoeShowcase-slideshow {

    @include media-query($medium-up) {
      position: relative;
      right: 3%;
      width:18rem;
      max-width: none; 
      height: rem-calc(220px);
    } 

    @include media-query($large-up) {
      height: 15rem;
      width: 28rem; 
    }
  
    .shoeShowcase-slides {
      max-width: rem-calc(320px);
      position: relative;
      width: 100%; 
      height: 100%;

       &:before {
        @include media-query($medium-up) {
          content: " ";
          height: 26rem;
          width: 15.5rem;
          border: 6px solid $quaternaryColor;
          position: absolute;
        }
       }

      .shoeShowcase-slide { 
        height: 100%; 
        width: 100%; 
        top: 0; 
        bottom: 0; 
        left: 0; 
        right: 0; 
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        z-index: 29; 
        position: absolute;
        display: block; 
        visibility: normal; 
  
        &.is-hidden {
          pointer-events: none; 
          img {
            visibility: hidden; 
            position: absolute;
          }
          img,
          .shoeShowcase-slide-name {
          opacity: 0; 
          }
        }

        &.is-active {
          pointer-events: inherit; 
          img {
            visibility: visible; 
            position: relative;
          }
          img,
          .shoeShowcase-slide-name {
            opacity: 1;
          }
        }

        img {
          transform: rotate(-8deg);
          transition: all .6s cubic-bezier(0.23, 1, 0.32, 1); 
          opacity: 0; 

          &.lazyload,
          &.lazyloading {
            opacity: 0; 
          }

          &.lazyloaded {
            opacity: 1; 
          }

          @include media-query($medium-up) {
            transition: transform .3s cubic-bezier(0.23, 1, 0.32, 1); 
            transform: rotate(-8deg) scale(1.2) translateY(0);
          }
        }
        
        .shoeShowcase-slide-name {
          display: block;
          position: absolute;
          bottom: -130px;
          text-transform: uppercase;
          left: 42px;
          font-weight: bold;
          color: white;
          transition: all 1s cubic-bezier(0.23, 1, 0.32, 1); 
          @include text-micro(); 
        }

        img {
          width: 100%;
        }
      }
    }
  }
}





/*------------------------------------*\
    #About Laces
\*------------------------------------*/

.aboutLaces {

  .copySection-inner {

    @include media-query($medium-up) {
      padding-top: rem-calc($level4);
      padding-bottom: rem-calc($level4);
    }
  
    @include media-query($large-up) {
      margin-bottom: -7.5rem;
      padding-bottom: 5.25rem;
      padding-top: 5.75rem;
      margin-top: -4.75rem;
    }


    &:before {
      content: " ";
      background-color: rgb(56, 54, 65);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;

      @include media-query($medium-up) {
        height: 58%; 
      }

    }
    
    .copySection-headline {
      max-width: rem-calc(120px);

      @include media-query($medium-up) {
        max-width: rem-calc(200px);
        @include text-giga(); 
      }

      @include media-query($large-up) {
        @include text-giga(); 
      }

    }
    
    .copySection-copy {
   
    }
  }

  .copySection-imageContainer {
    @include media-query($medium-up) {
      transform: scale(1.05); 
    }

    @include media-query($large-up) {
      transform: scale(1); 
    }
  }

  .aboutLaces-slideshow {
    right: 0; 
    width: 100%;
    overflow: hidden; 
    position: relative;
    background-color: $senaryColor;

    .aboutLaces-slideshow-slide {
      height: 100%; 
      width: 100%; 
      top: 0; 
      bottom: 0; 
      left: 0; 
      right: 0; 
      transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
      z-index: 29; 
      position: absolute;
      visibility: normal; 

      .aboutLaces-slideshow-slide-img {
        width: 100%; 
      }
    }

    .aboutLaces-slideshow-slide.is-active {
      position: relative;
      visibility: normal; 
      animation: about-lace-enter .8s cubic-bezier(0.23, 1, 0.32, 1) forwards; 
    }
    
    .aboutLaces-slideshow-slide.is-hidden {
      z-index: 28; 
    }
  }
}


@keyframes about-lace-enter {
  0% {
    z-index: 29; 
    transform: translateY(100%); 
  }
  1% {
    z-index: 30; 
    transform: translateY(100%); 
  }
  100% {
    z-index: 30; 
    transform: translateY(0); 
  }
}






/*------------------------------------*\
    #Featured Styles
\*------------------------------------*/

.copySection--featuredLaces {
  &:before {
    @include media-query($large-up) {
      height: 90%; 
    }
  }
}

.featuredLaces {
  padding-right: rem-calc($level4);
  padding-left: rem-calc($level4);

  .copySection-inner {

    @include media-query($medium-up) {
      margin-top: -3rem; 
      margin-bottom: -3rem; 
      padding-top: rem-calc($level7  + $level7);
      padding-bottom: rem-calc($level7  + $level7);
    }
  
    @include media-query($large-up) {
      padding-top: rem-calc($level7 + $level6);
      padding-bottom: rem-calc($level7 + $level6);
    }

    &:before {
      @include media-query($medium-up) {
        height: 70%; 
      }

      @include media-query($large-up) {
        height: 76%; 
      }
    }
  }

  .copySection-copy {

    @include media-query($medium-up) {
      margin-bottom: rem-calc($level7 + $level2);
    }

    @include media-query($large-up) {
      margin-bottom: rem-calc($level7 + $level5); 
    }
  }

  .copySection-accent {
    left: rem-calc(-18px);
    width: rem-calc(30px);
    top: 0%;

    @include media-query($medium-up) {
      right: 0;
      left: 0;
      width: rem-calc(30px);
      margin: auto; 
      top: auto; 
      bottom: rem-calc(-18px); 
    }
  }

  .featuredLaces-container {
    position: relative; 
  }

  .featuredLaces-laces {
    margin-right: rem-calc(-12px);
    margin-bottom: rem-calc($level2);

    @include media-query($medium-up) {
      width: 100%;
      margin-right: -1rem;
      transform: scale(1.2); 
    }

    .featuredLaces-thumb {
      padding-right: rem-calc(12px);
    }
  }

  .featuredLaces-headline {
    max-width: rem-calc(160px);
     
    @include media-query($medium-up) {
      margin-bottom: -60px;
      position: absolute;
      padding-left: rem-calc(12px); 
      transform: translateY(-40px);
    }
    
    @include media-query($large-up) {
      transform: translateY(-52px);
      @include text-kilo(); 
    }
  }

  .featuredLaces-cta {
    position: relative; 
    width: 100%; 

    @include media-query($medium-up) {
      height: rem-calc(18px);
    }

    @include media-query($large-up) {
      height: rem-calc($level6);
    }

    .featuredStyles-linkGroup {
      position: relative;
      top: rem-calc(-12px);
      height: rem-calc($level7);

      @include media-query($medium-up) {
        position: absolute; 
        min-width: rem-calc(110px); 
        top: auto; 
        height: auto; 
        right: rem-calc(-48px); 
      }
    } 
  }
}





/*------------------------------------*\
    #About Boxes
\*------------------------------------*/

.aboutBoxes {

  .copySection-inner {

    @include media-query($medium-up) {
      padding-top: rem-calc($level4);
      padding-bottom: rem-calc($level4);
    }
  
    @include media-query($large-up) {
      margin-bottom: -7.5rem;
      padding-bottom: 5.25rem;
      padding-top: 5.75rem;
      margin-top: -4.75rem;
    }


    &:before {
      content: " ";
      background-color: rgb(56, 54, 65);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;

      @include media-query($medium-up) {
        height: 58%; 
      }

    }
    
    .copySection-headline {
      max-width: rem-calc(120px);

      @include media-query($medium-up) {
        max-width: rem-calc(200px);
        @include text-giga(); 
      }

      @include media-query($large-up) {
        @include text-giga(); 
      }
    }

    .copySection-imageContainer {
      @include media-query($medium-up) {
        transform: scale(1.05); 
      }

      @include media-query($large-up) {
        transform: scale(1); 
      }
    }
  }
}


