
/*------------------------------------*\
    #Homepage Styles
\*------------------------------------*/


/*------------------------------------*\
    #Shoe Showcase
\*------------------------------------*/

.homeSection {
  
  @include media-query($medium-up) {
    padding-top: 0; 
    padding-bottom: 0; 
  }
}


/*------------------------------------*\
    #Shoe Showcase
\*------------------------------------*/


.copySection--shoeShowcase {
  width: 100%; 

  .shoeShowcase-slideshow {

    @include media-query($medium-up) {
      position: relative;
      right: 3%;
      width:18rem;
      max-width: none; 
      height: rem-calc(220px);
      transform: translateY(12px); 
    } 

    @include media-query($large-up) {
      height: 15rem;
      width: 28rem; 
    }
  
    .shoeShowcase-slides {
      max-width: rem-calc(320px);
       position: relative;

       &:before {
        @include media-query($medium-up) {
          content: " ";
          height: 26rem;
          width: 15.5rem;
          border: 6px solid $quaternaryColor;
          position: absolute;
        }
       }

      .shoeShowcase-slide { 
        width: 100%; 
        transform: rotate(-8deg);

        @include media-query($medium-up) {
          transform: rotate(-8deg) scale(1.2);
        }

        img {
          width: 100%;
        }

      }
    }

  }

}





/*------------------------------------*\
    #About Laces
\*------------------------------------*/

.copySection--aboutLaces {

  .aboutLaces-slideshow {
    right: 0; 
    width: 100%;
    height: 100%; 
    @extend %position-relative; 

    @include media-query($medium-up) {
      top: -30%;
    }

    @include media-query($large-up) {
      top: -46%; 
    }

    @include media-query($large-up) {
      padding-right: rem-calc($level3); 
      padding-left: rem-calc($level3); 
    }

    .aboutLaces-slideshow-slide {
      height: 100%; 
      width: 100%; 

      .aboutLaces-slideshow-slide-img {
        width: 100%; 
      }

    }

    .aboutLaces-slideshow-slide.ng-animate {
      @include transition(all 0.6s ease-in-out);
    }

    .aboutLaces-slideshow-slide.ng-enter {
      z-index: 29; 
    }
    .aboutLaces-slideshow-slide.ng-enter.ng-enter-active {
      position: absolute; 
      z-index: 29; 

    }

    .aboutLaces-slideshow-slide.ng-leave {
      z-index: 30; 
      position: absolute; 
      transform: translateY(0);
    }
    .aboutLaces-slideshow-slide.ng-leave.ng-leave-active {
      transform: translateY(-100%);
    }
  }
}






/*------------------------------------*\
    #Featured Styles
\*------------------------------------*/


.copySection--featuredLaces {

  @include media-query($medium-up) {
    padding-top: rem-calc($level6);
    padding-bottom: rem-calc($level6);
  }


  .copySection-copy {

    @include media-query($medium-up) {
      margin-bottom: rem-calc($level7 + $level2);
    }

    @include media-query($large-up) {
      margin-bottom: rem-calc($level7 + $level5); 
    }
  }

  .copySection-accent {
    left: rem-calc(-18px);
    width: rem-calc(30px);
    top: 0%;

    @include media-query($medium-up) {
      right: 0;
      left: 0;
      width: rem-calc(30px);
      margin: auto; 
      top: auto; 
      bottom: rem-calc(-18px); 
    }
  }

  .featuredLaces {

    .featuredLaces-container {
      position: relative; 
    }

    .featuredLaces-laces {
      margin-right: rem-calc(-12px);
      margin-bottom: rem-calc($level2);

      @include media-query($medium-up) {
        width: 100%;
        margin-right: -1rem;
        transform: scale(1.15); 
      }
  
      .featuredLaces-thumb {
        padding-right: rem-calc(12px);
      }
    }

    .featuredLaces-headline {
      max-width: rem-calc(160px);
       
      @include media-query($medium-up) {
        margin-bottom: -60px;
        position: absolute;
        padding-left: rem-calc(12px); 
        transform: translateY(-40px);
      }
      
      @include media-query($large-up) {
        transform: translateY(-52px);
      }
    }

    .featuredLaces-cta {
      position: relative; 
      width: 100%; 

      @include media-query($medium-up) {
        height: rem-calc(18px);
      }

      @include media-query($large-up) {
        height: rem-calc($level6);
      }

      .featuredStyles-linkGroup {
        position: relative;
        top: rem-calc(-12px);
        height: rem-calc($level7);

        @include media-query($medium-up) {
          position: absolute; 
          min-width: rem-calc(110px); 
          top: auto; 
          height: auto; 
          right: rem-calc(-48px); 
        }
      } 
    }
  }
}
