

/*------------------------------------*\
    #Lacing Guide
\*------------------------------------*/


.lacingGuide {
  width: 100%; 
  position: relative;

  li {
    display: inline-block; 
    
    a {
      position: relative;
      display: block;
    }
  }

  li.is-expanded {
      
    a {
      position: relative;

      &::after {
        top: auto;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $secondaryColor;
        border-width: 15px;
        left: 50%;
        margin: -28px 0 0 -15px;
     }
    }
  }
}

.lacingStyle {
  width: 100%; 
  position: relative;
  max-width: rem-calc(324px); 
  margin-right: auto; 
  margin-left: auto;

  @include media-query($large-up) {
    margin-bottom: rem-calc($level2); 
  }
  
  .lacingStyle-inner {
    position: relative;
  }

  img {
    position: relative;
    padding-right: rem-calc($level4);
    padding-left: rem-calc($level4);
    width: 100%; 
    margin-bottom: rem-calc($level3); 
  }
  
  .lacingStyle-img {
    width: 100%;
    max-width: rem-calc(480px);
  }

  .lacingStyle-title {
    text-align: center; 
    @include h5();
  }
}

.lacingSteps {
  width: 100%;
  background-color: $secondaryColor;
  position: absolute; 
  left: 0; 
  right: 0; 
  z-index: 1; 
  top: auto; 
  overflow: hidden; 
  height: 0; 
 
  .lacingSteps-inner {
    height: 100%; 
    width: 100%; 
    position: relative;
    padding-right: $column-gutter / 2; 
    padding-left: $column-gutter / 2; 
  }

  .lacingSteps-images {
    max-width: rem-calc(160px); 
    width: 100%; 
    margin-bottom: rem-calc($level7); 
    position: relative;

    @include media-query($medium-up) {
      max-width: rem-calc(260px); 
      margin-bottom: 0;
    }

    @include media-query($large-up) {
      top: rem-calc(-24px);
    }

    .slick-prev, 
    .slick-next {
      position: absolute;
      z-index: 10; 
      background-color: transparent;
      color: black; 
      margin-bottom: 0; 
      opacity: .6;
      border: none;
      outline: none; 
      position: absolute;
      bottom: -2rem; 
      width: 100%; 
      color: $grey--med; 
      width: rem-calc(50px); 
      height: rem-calc(20px); 
      transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 
    
      &:before {
        content: "";
        background-image: url('../assets/icon--arrow--white.svg'); 
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; 
        position: absolute;
        width: 100%; 
        top:0; 
        right: 0;
        bottom: 0; 
        left: 0; 
      }
    }

    .slick-prev {
     left: rem-calc($level2); 
     transform: scaleX(-1);

     @include media-query($medium-up) {
      left: 3.875rem;
     }

      &:hover, 
      &:focus {
        opacity: 1; 
       transform: scaleX(-1) translateX(3px);
      }
    }

    .slick-next {
      right: rem-calc($level2);
      
      @include media-query($medium-up) {
        right: 3.875rem;
      }

      &:hover, 
      &:focus {
        opacity: 1; 
       transform: translateX(3px);
      }
    }
  }

  .lacingSteps-details {
    width: 100%; 
    max-width: rem-calc(340px); 
    margin-bottom: 0; 

    @include media-query($medium-up) {
      max-width: rem-calc(272px); 
    }

    @include media-query($large-up) {
      padding-top: rem-calc($level7); 
      max-width: rem-calc(360px); 
    }
  }

  .lacingSteps-number {
    padding-right: rem-calc($level2);
    font-family: $tertiary-font-family;
    padding-top: rem-calc($level1);  
    @include h3();

    @include media-query($medium-up) {
      margin-bottom: rem-calc($level5);
      @include text-kilo();
    }

    @include media-query($large-up) {
      @include text-giga();
    }
  }

  p {
    @include media-query($medium-up) {
      @include h4(); 
    }
  }


  .lacingSteps-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateZ(0);
  }

  .lacingSteps-close::before,
  .lacingSteps-close::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 3px;
    background: #fff;
    transform: rotate(45deg);
  }

  .lacingSteps-close::after {
    transform: rotate(-45deg);
  }

  .lacingSteps-close:hover,
  .lacingSteps-close:focus {
    transform: rotate(-45deg); 
  }
}
