

/*------------------------------------*\
    #Lookbook Specific Styles
\*------------------------------------*/



/*------------------------------------*\
    #Lookbook Header
\*------------------------------------*/


.lookBookHeader {
  height: 30rem; 
  position: relative;
  margin-bottom: rem-calc($level4); 

  @include media-query($large-up) {
    height: 40rem; 
  }

  .lookBookHeader-bg {
    background-image: url('lookbook-bg_small10.svg');
    background-size: cover; 
    background-position: center; 
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    visibility: hidden; 

    @include media-query($medium-up) {
      background-image: url('lookbook-bg_medium3.svg');
      background-position: top;
    } 

    @include media-query($large-up) {
      background-image: url('lookbook-bg_large8.svg');
      background-position: center;
      background-size: cover; 
    }
  }
  
  .lookBookheader-copy {
    max-width: rem-calc(370px);
  }

  .lookBookHeader-headline {
    font-family: $tertiary-font-family; 
    padding-top: 9.5rem;
    width: 100%; 
    max-width: rem-calc(340px); 
    margin-right: auto;
    margin-left: auto;
    position: relative;
    will-change: transform; 
    z-index: 1; 
    visibility: hidden; 
    @include text-kilo(); 

    &:after {
      content: " "; 
      bottom: rem-calc(-12px); 
      width: rem-calc(48px); 
      height: rem-calc(4px); 
      right: 0; 
      left: 0; 
      margin-right: auto;
      margin-left: auto; 
      position: absolute;
      background-color: $accentColor;
    }

    @include media-query($medium-up) {
      padding-top: 4rem;
      @include text-mega(); 
    }

    @include media-query($large-up) {
      max-width: 28.75rem; 
      background-size: contain; 
      font-size: 4rem; 
      padding-top: 0; 
    }
  }

  .lookBookHeader-descriptor {
    position: relative;
    bottom: -5.25rem;
    width: 84%;
    margin-right: auto;
    margin-left: auto;
    max-width: rem-calc(290px);
    margin-bottom: 0; 
    visibility: hidden; 
    will-change: transform; 
    z-index: 1; 

    @include media-query($medium-up) {
      max-width: 74%; 
      bottom: -6.5rem;
      min-width: 30rem; 
    }

    @include media-query($large-up) {
      max-width: 50%; 
      bottom: -8.5rem;
      @include h4(); 
    }
  }
}





/*------------------------------------*\
    #Lookbook Intro
\*------------------------------------*/

.lookbookIntro {
  position: relative;
  width: 100%; 
  padding-right: $column-gutter / 2; 
  padding-left: $column-gutter / 2; 
  margin-top: rem-calc($level4); 

  @include media-query($medium-up) {
    padding: 0; 
    margin-bottom: rem-calc($level7); 
    margin-top: rem-calc(40px); 
  }

  @include media-query($large-up) {
    margin-top: rem-calc(60px); 
  }

  .lookbookIntro-inner {
    position: relative;
    &:before {
      content: " ";
      background-color: rgb(56, 54, 65);
      width: 100%;
      height: 100%; 
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;

      @include media-query($medium-up) {
        right: 0; 
        width: 86%;
      }

      @include media-query($large-up) {
        width: 80%; 
      }
    }
  }
  
  .lookbookIntro-image {
    position: relative;
    transform: scale(1.25); 
    margin-bottom: rem-calc($level7); 
    padding-bottom: 66%; 
    overflow: hidden;
    background-color: $senaryColor;

    img {
      position: absolute;
      top: 0; 
      bottom: 0; 
      right: 0; 
      left: 0; 
      visibility: hidden; 
      will-change: transform; 
    }

    @include media-query($medium-up) {
      top: rem-calc(-40px);
      margin-bottom: 0; 
      transform: scale(1.2); 
      right: -.5rem;
    }

    @include media-query($large-up) {
      top: rem-calc(-60px); 
    }
  }

  .lookbookIntro-copy {
    position: relative;
    max-width: rem-calc(370px);
    padding-bottom: $column-gutter / 2; 

    @include media-query($medium-up) {
      margin-bottom: 0; 
      max-width: 14rem; 
      margin-right: auto; 
      margin-left: auto; 
      display: block; 
      padding: rem-calc($level7); 
      padding-left: 0; 
      padding-right: 0;
      right: rem-calc(-18px); 
    }
  
    @include media-query($large-up) {
      max-width: 19rem; 
      padding-left: rem-calc($level4);  
      padding-right: rem-calc($level4); 
      padding-top: rem-calc($level7 + $level3);
      padding-bottom: rem-calc($level7 + $level3); 
    }

    h1 {
      font-family: $tertiary-font-family; 
      margin-bottom: rem-calc($level2);
      will-change: transform; 

      @include media-query($medium-up) {
        @include h2(); 
      }

      @include media-query($large-up) {
        @include h1(); 
      }
    }

    p {
      margin-bottom: 0; 
      will-change: transform; 

      @include media-query($medium-up) {
        @include text-micro(); 
      }

      @include media-query($large-up) {
        @include h6(); 
      }
    }
  }
}





/*------------------------------------*\
    #Lookbook Slideshow 
\*------------------------------------*/


.lookBookSlideshow {
  overflow: hidden; 
  padding-top: rem-calc($level2);  
  width: 100vw; 
  max-width: 100%; 
  position: relative;

  .lookBookSlideshow-slideshow {
    margin-bottom: 0; 
  }

  .lookBookSlideshow-slideForMore { 
    color: $quintenaryColor; 
    text-align: center;
    text-transform: uppercase;
    font-family: $secondary-font-family;
  }

  .slick-list {
    overflow: visible;
  }


  .lookBookSlideshow-look {
    margin-bottom: rem-calc($level4); 
    margin-right: auto;
    margin-left: auto;
    color: #fff; 
    max-width: 22rem; 

    @include media-query($medium-up) {
      margin-right: auto; 
      margin-left: auto; 
      width: rem-calc(300px); 
      max-width: auto; 
      &:hover,
      &:focus {
      .lookbookSlideshow-look-image {
          transform: scale(1.02);
        }
      }
    }

    @include media-query($large-up) {
      margin-bottom: rem-calc($level2); 
      max-width: rem-calc(320px);
    }
  
    .lookbookSlideshow-look-image {
      background-color: $senaryColor;
      margin-bottom: rem-calc($level1);
      box-shadow: 0px 0px 14px rgba(0,0,0, .6);
      transition: all .3s  cubic-bezier(0.23, 1, 0.32, 1); 
      position: relative;
      padding-bottom: 150%;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      overflow: hidden;
    }

    img {
      transition: all .3s  cubic-bezier(0.23, 1, 0.32, 1); 
      position: absolute;
      top: 0; 
      bottom: 0; 
      right: 0; 
      width: 100%; 
      left: 0; 
      visibility: hidden; 
    }

    .lookBookSlideshow-look-name {
      text-transform: uppercase;
      font-family: $secondary-font-family; 
      @include text-micro(); 
    }
  }
}




/*------------------------------------*\
    #Lookbook Art 
\*------------------------------------*/

.lookbookArt {
  .lookbookArt-headline {
    font-family: $tertiary-font-family; 
    @include text-kilo(); 

    @include media-query($medium-up) {
      margin-bottom: rem-calc($level5); 
      @include text-mega(); 
    }

    @include media-query($large-up) {
      margin-bottom: rem-calc($level6); 
      @include text-giga(); 
    }
  }

  .lookbookArt-img {
    margin-bottom: rem-calc($level4); 
    background-color: $senaryColor;
    overflow: hidden;
    position: relative;
    padding-bottom: 45.5%; 

    img {
      position: absolute;
      top: 0; 
      bottom: 0; 
      left: 0; 
      right: 0; 
      width: 100%; 
    }

    @include media-query($medium-up) {
      margin-bottom: rem-calc($level5); 
    }

    @include media-query($large-up) {
      margin-bottom: rem-calc($level6); 
    }
  }

  .lookbookArt-paragraph  {
    width: 84%;
    margin-right: auto;
    margin-left: auto; 
    margin-bottom: rem-calc($level4); 

    @include media-query($medium-up) {
      max-width: 80%; 
      margin-bottom: rem-calc($level5); 
    }

    @include media-query($large-up) {
      width: rem-calc(520px);
      bottom: -7.875rem;
      margin-bottom: rem-calc($level6); 
      @include h4(); 
    }
  }

  .lookbookArt-icon {
    color: red; 
    text-align: center; 
    display: block; 
    width: 100%;
    fill: pink; 
    margin-bottom: rem-calc($level5); 
  }
}



/*------------------------------------*\
    #Lookbook CTA
\*------------------------------------*/


.lookbookCta {

  .copySection-inner {

    @include media-query($medium-up) {
      padding-top: rem-calc($level4);
      padding-bottom: rem-calc($level4);
    }
  
    @include media-query($large-up) {
      padding-top: rem-calc($level7 + $level6);
      padding-bottom: rem-calc($level7 + $level6);
    }


    &:before {
      content: " ";
      background-color: rgb(56, 54, 65);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;

      @include media-query($medium-up) {
        height: 68%; 
      }

    }
    
    .copySection-headline {
      max-width: rem-calc(120px);

      @include media-query($medium-up) {
        max-width: 16rem;
        @include text-giga(); 
      }
    }
  }

  .copySection-imageContainer {
    @include media-query($medium-up) {
      transform: scale(1.05); 
    }

    @include media-query($large-up) {
      transform: scale(1); 
    }
  }
}
