

/*------------------------------------*\
    #News
\*------------------------------------*/

	
.newsHeader {
	text-align: center; 
	position: relative;
	padding-top: rem-calc($level7 + $level7 + $level7); 
	padding-bottom: rem-calc($level7); 

	@include media-query($large-up) {
		padding-top: rem-calc($level7 + $level7 + $level2); 
		padding-bottom: rem-calc($level7 + $level3); 
	}

	.newsHeader-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0; 
		left: 0; 
		right: 0; 

		@include media-query($medium-up) {
			transform: translateY(-9px);
		}

		@include media-query($large-up) {
			transform: translateY(-48px);
			height: 124%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover; 
		}
	}

	.newsHeader-headline {
		position: relative;
		@include text-mega(); 

		@include media-query($medium-up) {
			@include text-giga(); 
		}

		@include media-query($large-up) {
			bottom: rem-calc(-24px);
			@include text-giga(); 
		}

	}
}


.newsContainer {
	margin-bottom: rem-calc($level7); 

	@include media-query($large-up) {
		max-width: rem-calc(960px);
		margin-right: auto;
		margin-left: auto; 
		left: 0; 
		right: 0; 

	}

	.newsInner {
		padding-left: rem-calc($level4);
		padding-right: rem-calc($level4);
	}
}






/*------------------------------------*\
    #News Post Thumb
\*------------------------------------*/


.newsPostThumb {
	background-color: $secondaryColor;
	margin-bottom: rem-calc($level7); 

	.newsPostThumb-inner {
		position: relative;
	}

	.newsPostThumb-featuredImg {
		position: relative;
		padding-bottom: 56.8%;
		display: block; 

		@include media-query($medium-up) {
			width: 60%;
			padding-bottom: 36%;
		}

		@include media-query($large-up) {
		}

		img {
			position: absolute;
			height: 100%;
			width: 100%;
			object-fit: cover; 
			top: 0; 
			left: 0; 
			object-position: center;
		}
	}

	.newsPostThumb-preview {
		padding: rem-calc($level4);
		
		@include media-query($medium-up) {
			width: 40%;
			min-width: rem-calc(320px);
		}

		@include media-query($large-up) {
		}

		h1 {
			margin-bottom: rem-calc($level2);

			a {
				color: #fff; 
			}
		}

		.newsPostThumb-dateAuthor {
			color: $quaternaryColor;
			font-family: $secondary-font-family; 
			margin-bottom: rem-calc($level3); 
			@include text-micro(); 
		}



		p{

		}

		.newsPostThumb-preview-readMore {

		}
	}
}







/*------------------------------------*\
    #News Post Article
\*------------------------------------*/


.newsArticle {


	.newsArticle-header {
		position: relative;
		padding-bottom: 60.8%;
		min-height: rem-calc(320px); 

		@include media-query($medium-up) {
			padding-bottom: 0;
		}
		
		@include media-query($large-up) {
			height: 50vh;
		}

		.newsArticle-header-inner {
			z-index: 2; 
			position: absolute;
			width: 100%;
			height: 100%;
			padding-right: rem-calc($level4); 
			padding-left: rem-calc($level4); 

			@include media-query($large-up) {
				max-width: 48rem;
				margin-right: auto;
				margin-left: auto; 
				left: 0;
				right: 0;
			}
		}



		.newsArticle-header-featuredImg {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 0; 
			top: 0;
			left: 0;
			right: 0; 

			img {
				height: 100%;
				width: 100%;
				object-fit: cover; 
			}
		}

	}

	.newsArticle-content {
		background-color: $senaryColor;
		margin-bottom: rem-calc($level7 + $level7); 
		padding-top: rem-calc($level5); 
		margin-top: rem-calc(-120px); 
		margin-right: rem-calc($level3);
		margin-left: rem-calc($level3);
		z-index: 3; 
		position: relative;
		padding-bottom: rem-calc($level7 + $level7); 


		@include media-query($medium-up) {
			margin-right: rem-calc($level5);
			margin-left: rem-calc($level5);		
			padding-right: rem-calc($level2);
			padding-left: rem-calc($level2);	
			padding-top: rem-calc($level7); 

			p {
				@include h4();
				line-height: 1.5; 
			}

			h1 {
				font-family: $secondary-font-family; 
				text-transform: uppercase;
				color: #fff;
			}
		}


		@include media-query($large-up) {
			max-width: 56rem;
			padding-top: rem-calc($level7 + $level3); 
			margin-right: auto;
			margin-left: auto; 
		}

		.newsArticle-details {
			color: #fff;
			margin-bottom: rem-calc($level4); 

			@include media-query($medium-up) {
				margin-bottom: rem-calc($level7); 
			}

			p {
				margin-bottom: 0;
				@include media-query($large-up) {
					@include text-micro(); 
				}
			}
		}

		.newsArticle-accent {
			width: 100%;
			padding-top: rem-calc($level4);
			padding-bottom: rem-calc($level4);
			text-align: center; 

			.whiskersIcon {
				position: relative;
			}
		}

		.newsArticle-header-headline {
			font-family: $tertiary-font-family; 
			text-transform: none; 
			margin-bottom: rem-calc($level2); 
			@include text-kilo();

			@include media-query($medium-up) {
				@include text-mega();
			}
			@include media-query($large-up) {
				@include text-giga();
			}
		}
	}
}



/*------------------------------------*\
    #newsArticle Social Sharing
\*------------------------------------*/


.newsArticle-social {
  width: 100%; 
  position: relative;
  margin-bottom: rem-calc($level7);  
  color: #fff;
  text-transform: uppercase;
  font-family: $secondary-font-family; 
  @include text-micro(); 
  

  @include media-query($large-up) {
  	top: rem-calc(-120px);
  }
  
  .newsArticle-social-item {
    margin-right: rem-calc($level2); 
    vertical-align: middle; 

    // @include media-query($large-up) {
    //   margin-right: 0; 
    //   margin-bottom: rem-calc($level2); 
    // }
  }

  .newsArticle-social-title {
    position: relative;

    // @include media-query($large-up) {
    //   background-color: $primaryColor;
    //   position: relative;
    //   transform: rotate(90deg);
    //   top: rem-calc(-18px);
    //   display: block; 
    // }
  }
  
  a {
    color: #fff; 
    position: relative;
    vertical-align: middle; 
    transition: all .3s cubic-bezier(0.23, 1, 0.32, 1); 

    .icon {
      width: rem-calc(20px); 
      height: rem-calc(20px); 
      fill: $accentColor;
      transition: all .3s cubic-bezier(0.23, 1, 0.32, 1); 
    }
  
    &:hover, 
    &:focus {
      color: #fff; 
      .icon {
        fill: #fff; 
      }
    }
  }
}
