

/*------------------------------------*\
    #Product Page
\*------------------------------------*/


/*------------------------------------*\
    #Product 
\*------------------------------------*/


.product {
  margin-top: 2.5rem;
  max-width: rem-calc(580px);
  margin-right: auto; 
  margin-left: auto; 
  position: relative;
  margin-bottom: rem-calc($level7 + $level7);
  max-width: 100%;
  width: 100vw;
  overflow-x: hidden;

  [data-product-anim-elem] {
    visbility: hidden; 
  }
  
  @include media-query($medium-up) {
    max-width: 100%;
    margin-top: 0; 
  }

  @include media-query($large-up) {
    margin-top: 0; 
    margin-bottom: rem-calc($level7);
  }
  
  .product-bg {
    content: " ";
    background-color: $senaryColor;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; 
    height: 100%;
    width: 100%;
    
    @include media-query($medium-up) {
      margin-right: $column-gutter / 2;
    }

    @include media-query($large-up) {
      width: 91.66667%;
    }
  }

  .product-inner {
    position: relative;
    padding-top: rem-calc($level7);
    padding-bottom: rem-calc($level3);

    @include media-query($medium-up) {
      padding-top: rem-calc($level7 + $level7);
    }

    @include media-query($large-up) {
      padding-top: rem-calc($level7 + $level6);
      padding-left: rem-calc($level3);
      margin-right: auto; 
      margin-left: auto; 
      display: block; 
    }

    .product-photoSlideshow {
      margin-bottom: rem-calc($level4);   

      img {
        opacity: 0; 
        background-color: #fff;
        transition: all .4s cubic-bezier(0.23, 1, 0.32, 1); 

        &.lazyloaded {
          opacity: 1; 
        }
      }

      @include media-query($large-up) {
        margin-bottom: rem-calc($level2); 
      }

      .product-photoSlideshow-slide {
        margin-right: rem-calc(12px);
        margin-left: rem-calc(12px);

        @include media-query($large-up) {
          margin-right: 0;
          margin-left: 0;
        }
      }

      .slick-prev, 
      .slick-next {
        position: absolute;
        z-index: 10; 
        top: 45%; 
        background-color: transparent;
        color: black; 
        width: rem-calc(76px); 
        height: rem-calc(42px);
        margin-bottom: 0; 
        opacity: .6;
        border: none;
        outline: none; 
        transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 

        &:before {
          content: "";
          background-image: url('../assets/icon--arrow--secondary.svg'); 
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center; 
          position: absolute;
          width: 100%; 
          height: rem-calc(36px); 
          top:0; 
        }

        &.is-hidden {
          opacity: 0; 
        }
      }

      .slick-prev {
        left: rem-calc(-24px);
       transform: scaleX(-1);

        &:hover, 
        &:focus {
          opacity: 1; 
         transform: scaleX(-1) translateX(3px);
        }
      }

      .slick-next {
        right: rem-calc(-24px);

        &:hover, 
        &:focus {
          opacity: 1; 
         transform: translateX(3px);
        }
      }
    }

    .product-information {
      padding: rem-calc($level7);
      padding-top: 0; 
      padding-bottom: 0; 

      @include media-query($medium-up) {
        padding: rem-calc($level7);
        padding-top: 0; 
        padding-bottom: 0; 
      }
  
      @include media-query($large-up) {
        padding: 0;
        margin-right: auto;
        margin-left: auto; 
        display: block; 
      }
    }
    
    .product-name {
      font-family: $tertiary-font-family; 
      margin-bottom: rem-calc($level1);
      max-width: rem-calc(300px); 
      @include text-kilo(); 

      @include media-query($large-up) {
        margin-bottom: 0;
        max-width: 100%; 
        @include text-mega(); 
      }
    }

    .product-details {
      color: $quaternaryColor; 

      @include media-query($medium-up) {
        margin-bottom: rem-calc($level2);
      }

      @include media-query($large-up) {
        margin-bottom: rem-calc($level3);
      }

      .product-price {
        margin-right: rem-calc($level2);
        @include h3();
      }
    }


    .product-description {

      p {
        margin-bottom: rem-calc($level2);
      }

      ul {
        @include text-micro();
      }
    }


    .product-actions {
      
      .product-variants {
        width: 100%; 

        label {
          color: $quintenaryColor; 
          font-weight: bold; 
          display: block; 
          text-transform: uppercase; 
          margin-bottom: rem-calc($level2);
          @include text-micro(); 
        }

        .select {
          max-width: rem-calc(270px); 
        }
      }


      .product-qty {
        position: relative;
        width: 100%; 
        margin-bottom: rem-calc($level4); 

        label,
        input {
          margin-bottom: 0; 
        }

        label {
          color: $quintenaryColor; 
          font-weight: bold; 
          margin-right: 6px;
          @include text-micro(); 

          @include media-query($medium-up) {
            display: block;
            text-align: left; 
            width: 100%; 
            margin-bottom: rem-calc($level2); 
          }
        }
        
        input {
          margin-right: 0; 
          text-align: center; 
          padding: rem-calc($level1); 
          width: rem-calc(72px);
          background-color: transparent;
          border: 3px solid $primaryColor; 
          outline-width: 0;
          color: #fff; 
          transition: all .3s cubic-bezier(0.23, 1, 0.32, 1); 
          @include h4();

          &:active,
          &:focus {
            border: 3px solid #fff; 
          }
        }
      }
    }

    .product-buyBtn {
      max-width: rem-calc(220px); 
    }
  }
}





/*------------------------------------*\
    #Product Socoal Sharing
\*------------------------------------*/


.product-social {
  width: 100%; 
  position: relative;
  padding-bottom: rem-calc($level7);  
  color: #fff;
  text-transform: uppercase;
  font-family: $secondary-font-family; 
  margin-left: $column-gutter; 
  @include text-micro(); 
  

  @include media-query($large-up) {
    position: absolute;
    width: 8.3333%; 
    top: 8.5rem; 
    right: 0; 
    margin-left: 0; 
    color: $secondaryColor;

     &:after {
      content: " ";
      width: 8px; 
      border-right: 2px solid $secondaryColor; 
      position: absolute; 
      z-index: 8; 
      right: 8px; 
      left: 0; 
      bottom: -45px; 
      margin: auto;
      height: 52%; 
    }
  }
  
  .product-social-tag {
    @include media-query($large-up) {
      background-color: $primaryColor;
      position: relative;
      transform: rotate(90deg);
      display: block;
      bottom: -207px;
      z-index: 9; 
    }
  }

  .product-social-item {
    margin-right: rem-calc($level2); 
    vertical-align: middle; 

    @include media-query($large-up) {
      margin-right: 0; 
      margin-bottom: rem-calc($level2); 
    }
  }

  .product-social-title {
    position: relative;

    @include media-query($large-up) {
      background-color: $primaryColor;
      position: relative;
      transform: rotate(90deg);
      top: rem-calc(-18px);
      display: block; 
    }
  }
  
  a {
    color: #fff; 
    position: relative;
    vertical-align: middle; 
    transition: all .3s cubic-bezier(0.23, 1, 0.32, 1); 

    .icon {
      width: rem-calc(20px); 
      height: rem-calc(20px); 
      fill: $accentColor;
      transition: all .3s cubic-bezier(0.23, 1, 0.32, 1); 
    }
  
    @include media-query($large-up) {
      color: $secondaryColor;

      .icon {
        fill: $secondaryColor;
      }
    }

    &:hover, 
    &:focus {
      color: #fff; 
      .icon {
        fill: #fff; 
      }
    }
  }
}





/*------------------------------------*\
    #Product Photo Thumbnails
\*------------------------------------*/

.productPhotoThumbnails {
  margin-bottom: rem-calc($level4); 
  
  .productPhotoThumbnails-thumbnails {
    margin-bottom: 0; 
  }

  .productPhotoThumbnails-title {
    margin-bottom: rem-calc($level1); 
    color: $quaternaryColor; 
    @include text-micro(); 
  }

  .productPhotoThumbnails-thumb {
    margin-right: rem-calc($level1);
    margin-bottom: rem-calc($level1);
    border: 2px solid transparent;
    transform: scale(1);
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);

    &:hover, 
    &:focus {
      transform: scale(1.05);
    }

    @include media-query($medium-up) {
    max-width: 8rem; 
    }

    @include media-query($medium-up) {
      max-width: 6rem; 
    }
  }
}
