

/*------------------------------------*\
    #Product Page
\*------------------------------------*/

// .product-header {
//   width: 100%;
//   text-align: center;

//   @include media-query($large-up) {
//     margin-bottom: rem-calc($level4); 
//   }

//   .product-header-backBtn {
//     height: rem-calc(30px);
//     width: rem-calc(30px);
//     display: block; 
//     position: relative;

//     span {
//       height: rem-calc(12px);
//       width: rem-calc(12px);
//       display: block; 
//       margin-right: rem-calc(3px); 
//       margin-bottom: rem-calc(3px); 
//       background-color: $secondaryColor; 
//       position: absolute;
//     }

//     span:nth-child(1) {
//       left: 0; 
//       top: 0; 
//     }
//     span:nth-child(2) {
//       right: 0; 
//       top: 0; 
//     }
//     span:nth-child(3) {
//       left: 0; 
//       bottom: 0; 
//     }
//     span:nth-child(4) {
//       right: 0; 
//       bottom: 0; 
//     }

//   }
// }





/*------------------------------------*\
    #Product 
\*------------------------------------*/


.product {
  margin-top: 4.5rem;
  max-width: rem-calc(580px);
  margin-right: auto; 
  margin-left: auto; 
  position: relative;
  margin-bottom: rem-calc($level7 + $level7);

  @include media-query($medium-up) {
    max-width: 100%;
    margin-top: 0; 
  }

  @include media-query($large-up) {
    max-width: none; 
    margin-top: 0; 
  }
  
  .product-bg {
    content: " ";
    background-color: #43414F;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; 
    height: 100%;
    width: 100%;

    @include media-query($medium-up) {
      margin-right: $column-gutter / 2;
    }

    @include media-query($large-up) {
      width: 91.66667%;
    }
  }

  .product-inner {
    position: relative;
    padding-top: rem-calc($level7);
    padding-bottom: rem-calc($level3);

    @include media-query($medium-up) {
      padding-top: rem-calc($level7 + $level7);
    }

    @include media-query($large-up) {
      padding-top: rem-calc($level7 + $level6);
      padding-left: rem-calc($level3);
      margin-right: auto; 
      margin-left: auto; 
      display: block; 
    }

    .product-photoSlideshow {
      margin-bottom: rem-calc($level4);   

      @include media-query($large-up) {
        margin-bottom: rem-calc($level2); 
      }

      .product-photoSlideshow-slide {
        margin-right: rem-calc(12px);
        margin-left: rem-calc(12px);

        @include media-query($large-up) {
          margin-right: 0;
          margin-left: 0;
        }
      }

      .slick-prev, 
      .slick-next {
        position: absolute;
        z-index: 10; 
        top: 45%; 
        background-color: transparent;
        color: black; 
        width: rem-calc(76px); 
        height: rem-calc(42px);
        margin-bottom: 0; 
        opacity: .6;
        border: none;
        outline: none; 
        transition: all .2s ease-in-out; 

        &:before {
          content: "";
          background-image: url('../assets/icon--arrow--secondary.svg'); 
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center; 
          position: absolute;
          width: 100%; 
          height: rem-calc(36px); 
          top:0; 
        }
      }

      .slick-prev {
        left: rem-calc(-24px);
       transform: scaleX(-1);

        &:hover, 
        &:focus {
          opacity: 1; 
         transform: scaleX(-1) translateX(3px);
        }
      }

      .slick-next {
        right: rem-calc(-24px);

        &:hover, 
        &:focus {
          opacity: 1; 
         transform: translateX(3px);
        }
      }
    }

    .product-information {
      padding: rem-calc($level7);
      padding-top: 0; 
      padding-bottom: 0; 

      @include media-query($medium-up) {
        padding: rem-calc($level7);
        padding-top: 0; 
        padding-bottom: 0; 
      }
  
      @include media-query($large-up) {
        padding: 0;
        margin-right: auto;
        margin-left: auto; 
        display: block; 
      }
    }
    
    .product-name {
      font-family: $tertiary-font-family; 
      margin-bottom: rem-calc($level1);
      max-width: rem-calc(300px); 
      @include text-kilo(); 

      @include media-query($large-up) {
        margin-bottom: 0;
        max-width: 100%; 
        @include text-mega(); 
      }
    }

    .product-details {
      color: $quaternaryColor; 

      @include media-query($medium-up) {
        margin-bottom: rem-calc($level2);
      }

      @include media-query($large-up) {
        margin-bottom: rem-calc($level3);
      }

      .product-price {
        margin-right: rem-calc($level2);
        @include h3();
      }
    }


    .product-description {

      p {
        margin-bottom: rem-calc($level2);
        @include h4(); 
      }

      ul {
        @include text-micro();
      }
    }


    .product-actions {

      .product-qty {
        position: relative;
        width: 100%; 
        max-width: rem-calc(90px); 
        margin-bottom: rem-calc($level5); 
        
        label,
        input {
          margin-bottom: 0; 
        }
        
        input {
          margin-left: rem-calc($level1);
          margin-right: 0; 
          text-align: center; 
        }
      }
    }

    .product-buyBtn {
      max-width: rem-calc(220px); 
    }
  }
}





/*------------------------------------*\
    #Product Photo Thumbnails
\*------------------------------------*/

.productPhotoThumbnails {
  margin-bottom: rem-calc($level4); 
  
  .productPhotoThumbnails-thumbnails {
    margin-bottom: 0; 
  }

  .productPhotoThumbnails-title {
    margin-bottom: rem-calc($level1); 
    color: $quaternaryColor; 
    @include text-micro(); 
  }

  .productPhotoThumbnails-thumb {
    margin-right: rem-calc($level1);
    margin-bottom: rem-calc($level1);
    border: 2px solid transparent;
    transform: scale(1);
    transition: all .2s ease-in-out;

    &:hover, 
    &:focus {
      transform: scale(1.05);
    }

    @include media-query($medium-up) {
    max-width: 8rem; 
    }

    @include media-query($medium-up) {
      max-width: 6rem; 
    }
  }
}
