

/*------------------------------------*\
    #Product Page
\*------------------------------------*/


/*------------------------------------*\
    #Product 
\*------------------------------------*/


.product {
  margin-top: 2.5rem;
  max-width: rem-calc(580px);
  margin-right: auto; 
  margin-left: auto; 
  position: relative;
  max-width: 100%;
  width: 100vw;
  overflow-x: hidden;

  [data-product-anim-elem] {
    visibility: hidden; 
  }
  
  @include media-query($medium-up) {
    max-width: 100%;
    margin-top: 0; 
  }

  @include media-query($large-up) {
    margin-top: 0; 
  }
  
  .product-bg {
    content: " ";
    background-color: $senaryColor;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; 
    height: 100%;
    width: 100%;
    
    @include media-query($medium-up) {
      margin-right: $column-gutter / 2;
    }

    @include media-query($large-up) {
      width: 91.66667%;
    }
  }

  .product-inner {
    position: relative;
    padding-top: rem-calc($level7);
    padding-bottom: rem-calc($level3);

    @include media-query($medium-up) {
      padding-top: rem-calc($level7 + $level7);
    }

    @include media-query($large-up) {
      padding-top: rem-calc($level7 + $level6);
      padding-left: rem-calc($level3);
      margin-right: auto; 
      margin-left: auto; 
      display: block; 
    }



    .product-information {
      padding: rem-calc($level7);
      padding-top: 0; 
      padding-bottom: 0; 

      @include media-query($medium-up) {
        padding: rem-calc($level7);
        padding-top: 0; 
        padding-bottom: 0; 
      }
  
      @include media-query($large-up) {
        padding: 0;
        margin-right: auto;
        margin-left: auto; 
        display: block; 
      }
    }
    
    .product-name {
      font-family: $tertiary-font-family; 
      margin-bottom: 0;
      max-width: rem-calc(300px); 
      @include text-kilo(); 

      @include media-query($large-up) {
        margin-bottom: 0;
        max-width: 100%; 
        @include text-mega(); 
      }
    }

    .product-details {
      color: #fff; 

      .product-details-price {
        margin-bottom: rem-calc($level2);
        @include h2();
      }
      
      .product-details-specs  {
        margin-bottom: rem-calc($level1);
        width: 100%;
      }

      .product-details-label {
        color: $quaternaryColor;
        margin-right: rem-calc($level1); 
        @include text-micro(); 
      }

      .product-details-spec {
        color: #fff;
        text-transform: uppercase;
        margin-right: rem-calc($level3); 
        margin-bottom: 0; 
        font-weight: bold;
        font-family: $secondary-font-family; 
      }
    }

    .product-description {

      p {
        margin-bottom: rem-calc($level2);
      }

      ul {
        @include text-micro();
      }
    }
    
    .product-actions {
      
      .product-variants {
        width: 100%; 

        label {
          color: $quintenaryColor; 
          font-weight: bold; 
          display: block; 
          text-transform: uppercase; 
          margin-bottom: rem-calc($level2);
          @include text-micro(); 
        }

        .select {
          max-width: rem-calc(270px); 
        }
      }


      .product-qty {
        position: relative;
        width: 100%; 
        margin-bottom: rem-calc($level4); 

        label,
        input {
          margin-bottom: 0; 
        }

        label {
          color: $quintenaryColor; 
          font-weight: bold; 
          margin-right: 6px;
          @include text-micro(); 

          @include media-query($medium-up) {
            display: block;
            text-align: left; 
            width: 100%; 
            margin-bottom: rem-calc($level2); 
          }
        }
        
        input {
          margin-right: 0; 
          text-align: center; 
          padding: rem-calc($level1); 
          width: rem-calc(72px);
          background-color: transparent;
          border: 3px solid $primaryColor; 
          outline-width: 0;
          color: #fff; 
          transition: all .3s cubic-bezier(0.23, 1, 0.32, 1); 
          @include h4();

          &:active,
          &:focus {
            border: 3px solid #fff; 
          }
        }
      }
    }

    .product-secondaryDetails {
      .product-secondaryDetails-headline {
        color: $quintenaryColor;
        text-transform: uppercase;
        font-weight: bold; 
        font-family: $secondary-font-family; 
        margin-bottom: rem-calc($level2); 
        @include h6(); 
      }        
      
      .product-secondaryDetails-list {
        @include media-query($large-up) {
          max-width: rem-calc(330px); 
        }
      }

      .product-secondaryDetails-item {
        margin-bottom: rem-calc($level3); 

        @include media-query($medium-up) {
          @include text-micro(); 
        }

        .product-secondaryDetails-item-icon {
          margin-right: rem-calc($level2); 
          width: rem-calc(50px);
          height: rem-calc(50px);

          svg {
            width: 100%;
            height: 100%;
          }

          @include media-query($medium-up) {
            width: rem-calc(55px);
            height: rem-calc(55px);
          }

          @include media-query($large-up) {
            width: rem-calc(48px);
            height: rem-calc(48px);
          }
        }
      }
    }

    .product-buyBtn {
      max-width: rem-calc(220px); 
    }
  }
}






/*------------------------------------*\
    #Product Photo Slideshow
\*------------------------------------*/


.product-photoSlideshow {
  margin-bottom: rem-calc($level4);   
  position: relative;
  
  &:hover, 
  &:focus {
    cursor: none;
  }

  img {
    opacity: 0; 
    background-color: #fff;
    transition: all .4s cubic-bezier(0.23, 1, 0.32, 1); 
    width: 100%; 
    height: 100%;

    &.lazyloaded {
      opacity: 1; 
    }
  }

  @include media-query($large-up) {
    margin-bottom: rem-calc($level2); 
  }

  .product-photoSlideshow-slide {
    margin-right: rem-calc(12px);
    margin-left: rem-calc(12px);
    position: relative;

    @include media-query($large-up) {
      margin-right: 0;
      margin-left: 0;
    }
    

    .photoSlideshow-slide-zoom {
      position: absolute;
      background-color: $primaryColor;
      height: rem-calc(50px);
      width: rem-calc(50px);
      bottom: rem-calc($level2);
      border-radius: 100%; 
      right: rem-calc($level2);
      margin-bottom: 0;
      opacity: 0; 
      pointer-events: none; 
      z-index: 1;
      transition: all .2s cubic-bezier(0.23, 1, 0.32, 1) .2s; 

      .photoSlideshow-slide-zoom-icon {
        fill: $primaryColor;
        stroke: $primaryColor;
        width: rem-calc(24px);
        height: rem-calc(24px);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }

    &.slick-active {
      .photoSlideshow-slide-zoom {
        opacity: 1; 
        pointer-events: all;     
      }
    }
  }

  .slick-prev, 
  .slick-next {
    position: absolute;
    z-index: 10; 
    top: 45%; 
    background-color: transparent;
    color: black; 
    width: rem-calc(76px); 
    height: rem-calc(42px);
    margin-bottom: 0; 
    opacity: .6;
    border: none;
    outline: none; 
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 

    &:before {
      content: "";
      background-image: url('../assets/icon--arrow--secondary.svg'); 
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; 
      position: absolute;
      width: 100%; 
      height: rem-calc(36px); 
      top:0; 
    }

    &.is-hidden {
      opacity: 0; 
    }
  }

  .slick-prev {
    left: rem-calc(-24px);
   transform: scaleX(-1);

    &:hover, 
    &:focus {
      opacity: 1; 
     transform: scaleX(-1) translateX(3px);
    }
  }

  .slick-next {
    right: rem-calc(-24px);

    &:hover, 
    &:focus {
      opacity: 1; 
     transform: translateX(3px);
    }
  }
}





/*------------------------------------*\
    #Product Photo Zoom Modal
\*------------------------------------*/


$closeStrokeWidth: 4px;
$closeWidth: 2.1rem;  

.productZoomModalLoading {
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  width: 100%;
  height: 100vh;
  z-index: 202; 
  background-color: $secondaryColor--translucent;

  .productZoomModalLoading-loader {
    position: absolute;
    top: 0; 
    right: 0; 
    left: 0;
    bottom: 0;
    margin: auto;  
  }
}


.productZoomCursor {
  position: absolute;
  height: rem-calc(34px);
  width: rem-calc(34px);
  padding: rem-calc($level1);
  svg {
    fill: $quintenaryColor;
  }
}

.productZoomModal {
  position: fixed;
  background-color: $secondaryColor; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 200;
  padding: rem-calc($level1);

  
  .productZoomModal-gestureIndicator {
    position: absolute;
    z-index: 201;
    width: 8rem;
    height: 8rem;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    .pinchOut {
      animation: gesture-indicator 1s steps(1, end) infinite;
    }

    .pinchIn {
      animation: gesture-indicator 1s steps(1, start) infinite;
    }
  }

  .productZoomModal-inner {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
  }

  .productZoomModal-image {
    width: 100%;
  }

  .productZoomModal-close {
    position: absolute;
    border-radius: 100%;
    height: rem-calc(60px);
    width: rem-calc(60px);
    bottom: rem-calc($level7);
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid $accentColor;
    margin-bottom: 0; 
    background-color: $secondaryColor--translucent;
    z-index: 201; 

    &:after,
    &:before {
      content: ""; 
      height: 2px;
      background-color: #fff; 
      width: 60%;  
      left: 0; 
      right: 0; 
      margin: auto;
      top: 0;
      bottom: 0;
      position: absolute;
      transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 
    }

    &:before {
      transform: translateY(0) rotate(-45deg); 
    }

    &:after {
      transform: translateY(0) rotate(45deg); 
    }

    &:hover,
    &:focus {
      transform: scale(1.1); 
      background-color: $accentColor;
    }
  }
}


@keyframes gesture-indicator {
  50% {
    opacity: 0;
  }
}





/*------------------------------------*\
    #Product Social Sharing
\*------------------------------------*/


.product-social {
  width: 100%; 
  position: relative;
  padding-bottom: rem-calc($level7);  
  color: #fff;
  text-transform: uppercase;
  font-family: $secondary-font-family; 
  margin-left: $column-gutter; 
  @include text-micro(); 
  

  @include media-query($large-up) {
    position: absolute;
    width: 8.3333%; 
    top: 8.5rem; 
    right: 0; 
    margin-left: 0; 
    color: $secondaryColor;

     &:after {
      content: " ";
      width: 8px; 
      border-right: 2px solid $secondaryColor; 
      position: absolute; 
      z-index: 8; 
      right: 8px; 
      left: 0; 
      bottom: -45px; 
      margin: auto;
      height: 52%; 
    }
  }
  
  .product-social-tag {
    @include media-query($large-up) {
      background-color: $primaryColor;
      position: relative;
      transform: rotate(90deg);
      display: block;
      bottom: -207px;
      z-index: 9; 
    }
  }

  .product-social-item {
    margin-right: rem-calc($level2); 
    vertical-align: middle; 

    @include media-query($large-up) {
      margin-right: 0; 
      margin-bottom: rem-calc($level2); 
    }
  }

  .product-social-title {
    position: relative;

    @include media-query($large-up) {
      background-color: $primaryColor;
      position: relative;
      transform: rotate(90deg);
      top: rem-calc(-18px);
      display: block; 
    }
  }
  
  a {
    color: #fff; 
    position: relative;
    vertical-align: middle; 
    transition: all .3s cubic-bezier(0.23, 1, 0.32, 1); 

    .icon {
      width: rem-calc(20px); 
      height: rem-calc(20px); 
      fill: $accentColor;
      transition: all .3s cubic-bezier(0.23, 1, 0.32, 1); 
    }
  
    @include media-query($large-up) {
      color: $secondaryColor;

      .icon {
        fill: $secondaryColor;
      }
    }

    &:hover, 
    &:focus {
      color: #fff; 
      .icon {
        fill: #fff; 
      }
    }
  }
}





/*------------------------------------*\
    #Product Photo Thumbnails
\*------------------------------------*/

.productPhotoThumbnails {
  margin-bottom: rem-calc($level4); 
  
  .productPhotoThumbnails-thumbnails {
    margin-bottom: 0; 
  }

  .productPhotoThumbnails-title {
    margin-bottom: rem-calc($level1); 
    color: $quaternaryColor; 
    @include text-micro(); 
  }

  .productPhotoThumbnails-thumb {
    margin-right: rem-calc($level1);
    margin-bottom: rem-calc($level1);
    border: 2px solid transparent;
    transform: scale(1);
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);

    &:hover, 
    &:focus {
      transform: scale(1.05);
    }

    @include media-query($medium-up) {
    max-width: 8rem; 
    }

    @include media-query($medium-up) {
      max-width: 6rem; 
    }
  }
}





/*------------------------------------*\
    #Product Explanations
\*------------------------------------*/


.productExplanation {
  position: relative;
  width: 100%; 
  margin-bottom: rem-calc($level7); 

  @include media-query($medium-up) {
    overflow: hidden;
    margin-bottom: rem-calc($level7 + $level3); 
  }

  * {
    position: relative;
  }

  .productExplanation-accent {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -29%;

    @include media-query($medium-up) {
      bottom: -24%;
    }

    @include media-query($large-up) {
      bottom: -27%;
    }
  }

  .productExplanation-inner {
    position: relative;
    padding-bottom: rem-calc($level7 + $level2); 

    @include media-query($large-up) {
      padding-top: rem-calc($level7);
      padding-bottom: rem-calc($level7 + $level5); 
    }

    &:before {
      content: " ";
      background-color: $senaryColor;
      width: 90%;
      height: 100%; 
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0; 
      margin: auto;
      @include media-query($medium-up) {
        left: 0; 
        width: 90%;
      }

      @include media-query($large-up) {
        width: 81%; 
      }
    }

    @include media-query($medium-up) {
      padding-left: rem-calc($level5); 
    }

  }
  
  .productExplanation-copy {
    padding: $column-gutter / 2; 
    padding-bottom: rem-calc($level1); 
    max-width: rem-calc(340px); 

    @include media-query($large-up) {
      max-width: 100%; 
      min-width: rem-calc(370px); 
    }
    
    h1 {
      @include media-query($large-up) {
        @include text-kilo(); 
      }
    }

    p {
      margin-bottom: 0; 
      @include media-query($large-up) {
        @include h4(); 
      }
    }
  }
}


.productExplanation--weave {
  .productExplanation-image {

    @include media-query($medium-up) {
      transform: scale(1.2) translateY(60px);
    }

    @include media-query($large-up) {
      transform: scale(1.1) translateY(40px);
    }

  }
}

.productExplanation--spool {
  overflow: visible;
  
  .productExplanation-image {
    @include media-query($medium-up) {
      transform: translateX(50px) translateY(50px) scale(1.1);
    }

    @include media-query($large-up) {
      transform: translateX(110px) translateY(-45px) scale(1.3)
    }
  }
}


.productExplanation--aglets {
  .productExplanation-image {
    @include media-query($medium-up) {
      transform: translateX(50px) translateY(50px) scale(1.1);
    }

    @include media-query($large-up) {
      transform: translateX(110px) scale(1.1);
    }
  }
}



.productExplanation--left {
  padding-right: 3.5rem; 


  @include media-query($medium-up) {
    padding-right: 0;
  }

  .productExplanation-copy {
   padding-right: 3.5rem;

   @include media-query($medium-up) {
     padding-left: $column-gutter;
     padding-right: $column-gutter / 2;
   }

    h1, p { 
      @include media-query($medium-up) {
        right: -1.5rem;
      }
    }
  }

  .productExplanation-accent {

    @include media-query($medium-up) {
      left: auto;
      margin: 0; 
      right: 14.5%;
    }

    @include media-query($large-up) {
      right: 30.5%
    } 
  }
}



.productExplanation--right {
  padding-left: 3.5rem; 

  @include media-query($medium-up) {
    padding-left: 0; 
  }
  
  .productExplanation-accent {
    
    @include media-query($medium-up) {
      left: 5%;
      right: auto;
    }

    @include media-query($large-up) {
      left: 22.5%;
    } 
  }

  .productExplanation-inner { 
    &:before {
      right: 0;
      left: auto; 

      @include media-query($medium-up) {
        right: 0; 
      }
    }
  }

  .productExplanation-copy {
   padding-left: 3.5rem; 

    @include media-query($medium-up) {
      padding-right: $column-gutter / 2;
      padding-left: $column-gutter;
    }

    @include media-query($large-up) {
      padding-right: 0; 
    }

    h1, p { 
      @include media-query($medium-up) {
        left: $column-gutter * -1;
      }
    }
  }
}




/*------------------------------------*\
    #Shipping Announcement
\*------------------------------------*/

.shippingAnnouncement {
  position: relative;
  width: 100%; 
  padding-right: $column-gutter / 2; 
  padding-left: $column-gutter / 2; 
  margin-top: rem-calc($level7 + $level1); 

  @include media-query($medium-up) {
    padding: 0; 
    margin-bottom: rem-calc($level7); 
    margin-top: rem-calc($level7); 
  }

  @include media-query($large-up) {
    margin-top: rem-calc($level7 + $level7); 
    margin-bottom: rem-calc($level7 + $level7); 
  }

  .shippingAnnouncement-inner {
    position: relative;
    &:before {
      content: " ";
      background-color: rgb(56, 54, 65);
      width: 100%;
      height: 100%; 
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;

      @include media-query($medium-up) {
        left: 0; 
        width: 86%;
        height: 94%;
        margin-top: 3%;
        margin-bottom: 3%;
      }

      @include media-query($large-up) {
        width: 80%; 
      }
    }
  }
  
  .shippingAnnouncement-image {
    position: relative;
    transform: scale(1.25); 
    margin-bottom: rem-calc($level7); 
    padding-bottom: 59.5%; 
    overflow: hidden;
    background-color: $senaryColor;

    img {
      position: absolute;
      top: 0; 
      bottom: 0; 
      right: 0; 
      left: 0; 
      //visibility: hidden; 
      will-change: transform; 
    }

    @include media-query($medium-up) {
      //top: rem-calc(-40px);
      margin-bottom: 0; 
      transform: scale(1.2); 
      padding-bottom: 66%;
      //right: -.5rem;
    }

    @include media-query($large-up) {
      //top: rem-calc(-60px); 
    }
  }

  .shippingAnnouncement-copy {
    position: relative;
    max-width: rem-calc(370px);
    padding-bottom: $column-gutter / 2; 
    margin-bottom: 0; 

    @include media-query($medium-up) {
      margin-bottom: 0; 
      max-width: 13rem;
      margin-right: auto; 
      margin-left: auto; 
      display: block; 
      padding: rem-calc($level7); 
      padding-left: 0; 
      padding-right: 0;
    }
  
    @include media-query($large-up) {
      max-width: 19rem; 
      padding-left: rem-calc($level4);  
      padding-right: rem-calc($level4); 
      padding-top: rem-calc($level7 + $level3);
      padding-bottom: rem-calc($level7 + $level3); 
    }

    h1 {
      font-family: $tertiary-font-family; 
      margin-bottom: rem-calc($level2);
      will-change: transform; 

      @include media-query($medium-up) {
        @include h2(); 
      }

      @include media-query($large-up) {
        @include h1(); 
      }
    }

    p {
      margin-bottom: 0; 
      will-change: transform; 
      @include h4(); 
    }
  }
}



/*------------------------------------*\
    #Product Art 
\*------------------------------------*/

.productArt {
  .productArt-headline {
    font-family: $tertiary-font-family; 
    visibility: hidden; 
    @include text-kilo(); 

    @include media-query($medium-up) {
      @include text-mega(); 
    }

    @include media-query($large-up) {
      @include text-giga(); 
    }
  }

  .productArt-img {
    margin-bottom: rem-calc($level4); 
    background-color: $senaryColor;
    overflow: hidden;
    position: relative;
    padding-bottom: 59%; 

    img {
      position: absolute;
      visibility: hidden; 
      top: 0; 
      bottom: 0; 
      left: 0; 
      right: 0; 
      width: 100%; 
    }

    @include media-query($medium-up) {
      padding-bottom: 53.5%; 
      margin-bottom: rem-calc($level5); 
    }

    @include media-query($large-up) {
      padding-bottom: 45.5%; 
      margin-bottom: rem-calc($level6); 
    }
  }

  .productArt-paragraph  {
    width: 84%;
    margin-right: auto;
    margin-left: auto; 
    margin-bottom: rem-calc($level4); 

    @include media-query($medium-up) {
      max-width: 80%; 
      margin-bottom: rem-calc($level5); 
    }

    @include media-query($large-up) {
      width: rem-calc(520px);
      bottom: -7.875rem;
      margin-bottom: rem-calc($level6); 
      @include h4(); 
    }
  }

  .productArt-icon {
    text-align: center; 
    display: block; 
    width: 100%;
    visibility: hidden; 
  }
}


