 <div class="collection-menu" data-ui-component="collection-menu">
  <div class="collection-menu-inner">
      <div class="collectionCategories">
        {% section 'collection-categories' %}
      </div>
      <div class="collectionFilters is-hidden">
         Filters
        {% section 'collection-color-filter' %}
        {% section 'collection-length-filter' %}
        {% section 'collection-pattern-filter' %}
      </div>
      <button  class="button--primary  button--medium"  data-ui-component="filter-toggle">
        Filter
      </button>
    </div>
</div>