
<section class="pageHeader" data-section-id="{{ section.id }}" data-section-type="info-page">

  <!--Page Header Begins--> 
  {% include 'page-header' %}
  <!--Page Header Ends-->

  <section class="faq">
    <div class="row">
      <div class="small-12  medium-9  large-7  large-push-1 columns">
        <ul class="row">
         {% for block in section.blocks %}
           <li class="small-12  columns">
            <div class="faq-item">
              <h1 class="subline faq-question">
              {{block.settings.question}}
              </h1>  
              <p class="faq-answer">
              {{block.settings.answer}}
              </p>
            </div>
           </li>
         {% endfor %}
        </ul>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "FAQ",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Frequently Asked Questions"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "FAQ",
        "settings": [
          {
            "id": "question",
            "type": "text",
            "label": "Question",
            "default": "Type Question"
          },
          {
            "id": "answer",
            "type": "textarea",
            "label": "Answer",
            "default": "Answer for a commonly asked question"
          }
        ]
      }
    ]
  }

{% endschema %}
