
<div data-section-id="{{ section.id }}" data-section-type="header-section">

  <!-- Navigation for small devices--> 
  <header>

    <h1 class="headerLogo grid grid--center grid--justifyCenter   large-grid--justifyLeft">

      <a ui-sref="main.home">
      
        <img src="{{'logo--whiskers--badge.svg' | asset_url}}" 
         alt="Whiskers Logo" 
         class="headerLogo-inner">

      </a>

    </h1>

    <nav class="mainNav  grid grid--center  grid--justifyRight">

      <div class="mainNav-title">
  
      </div>

      <div class="mainNav-menuToggleWrapper  grid  grid--center  grid--justifyCenter">
        
        <button class="cartToggle show-for-medium-up">
              Cart <span class="cartToggle-total">{{cart.item_count}}</span>
        </button>

        <button class="mainNav-menuToggle  grid grid--center "
             ng-class="{'is-menu-open' : mainNav.mainNavIsOpen, 'is-menu-closed' : !mainNav.mainNavIsOpen}"
             ng-click="mainNav.toggleMainNav()">
            
            <span class="menuToggle-label  show-for-medium-up">
               Menu
            </span>

            <span class="menuToggle-icon">
              
            </span>
        
        </button>

      </div>

      <!-- Off canvas navigation for small devices--> 
      <aside class="mainNav--offCanvas"
           ng-class="{'is-open' : mainNav.mainNavIsOpen, 'is-closed' : !mainNav.mainNavIsOpen}">
      
              
         <div class="mainNav-container  grid 
                    grid--flexDirectionColumn 
                    grid--justifySpaceBetween">

            <div>

              <ul class="mainNav-menu ">
                
                <li class="mainNav-menu-item  hide-for-medium-up">
                
                    <a ui-sref="main.cart"
                       ng-click="mainNav.toggleMainNav()"
                       class="mainNav-menu-link   mainNav-animElem">Cart (0)</a>
              
                </li>
                
                <li class="mainNav-menu-item">
                
                  <a 
                     ng-click="mainNav.openDrawer('shop')"
                     class="mainNav-menu-link   mainNav-animElem">Shop</a>
                  
                  <ul class="mainNav-dropDown"
                      ng-class="{'is-open' : mainNav.checkIfActive('shop')}">
                    
                    <li class="mainNav-dropDown-item">
                      
                      <a ui-sref="main.shop({productType: 'laces', productFilter: 'all'})"
                         class="mainNav-dropDown-link">
                        Laces
                      </a>
                      
                    </li>

                    <li class="mainNav-dropDown-item">
                      <a ui-sref="main.shop({productType: 'boxes', productFilter: 'all'})"
                         class="mainNav-dropDown-link">
                         Box Sets
                      </a>
                    </li>

                  </ul>

                </li>
                
                <li class="mainNav-menu-item">
                
                  <a  ng-click="mainNav.openDrawer('lifestyle')"
                     class="mainNav-menu-link   mainNav-animElem">Lifestyle</a>
                  
                  <ul class="mainNav-dropDown"
                      ng-class="{'is-open' : mainNav.checkIfActive('lifestyle')}">
                    
                    <li class="mainNav-dropDown-item">
                      
                      <a ui-sref="main.lacingStyles"
                         class="mainNav-dropDown-link">
                        Lacing Guide
                      </a>
                    </li>

                    <li class="mainNav-dropDown-item">
                      <a 
                         class="mainNav-dropDown-link">
                        Ethos
                      </a>
                    </li>

                  </ul>    

                </li>
              
                <li class="mainNav-menu-item">
                
                  <a ui-sref="main.contact"
                       ng-click="mainNav.openDrawer('support')"
                       class="mainNav-menu-link   mainNav-animElem"
                       >Support</a>

                  <ul class="mainNav-dropDown"
                      ng-class="{'is-open' : mainNav.checkIfActive('support')}">
                    
                    
                    <li class="mainNav-dropDown-item">
                      
                      <a ui-sref="main.lacingGuide"
                         class="mainNav-dropDown-link">
                        FAQ
                      </a>
                    </li>

                    <li class="mainNav-dropDown-item">
                      <a ui-sref="main.shopLaces({productType: 'laces'})"
                         class="mainNav-dropDown-link">
                        Sales
                      </a>
                    </li>
                  </ul>  

                </li>
            
              </ul>
              
      
              <ul class="[ grid  grid--center  grid--justifyStart ]  [ mainNav-social mainNav-animElem ]">
                                              
                 <li>
              
                   <a href="https://www.instagram.com/humanaut.is/" target="_blank" class="mainNav-social-link   icon-instagram icon--medium  mr1">
              
                   </a> 
              
                 </li>
                            
                 <li>
              
                   <a href="https://twitter.com/humanaut?lang=en" target="_blank" class="mainNav-social-link   icon-twitter icon--medium  ml1">
              
                   </a>
                            
                 </li>
                
               </ul>

            </div>

            <div class="mainNav-tagline">
              
              <div class="mainNav-tagline-icon">
                <img src="{{'whiskIcon--iceCream_red.svg' | asset_url}}" alt="">
              </div>

              Tastefully Wrong.

            </div>
           
         </div>

      </aside>
      <!--End off canvas navigation--> 
  
    </nav>
  
  </header>
  <!--End small devices navigation--> 

</div>


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
