<section>
  <div class="heroHeader grid grid--flexDirectionColumn med-grid--flexDirectionRow med-grid--flexDirectionRowReverse  ">
    
    <div class="heroHeader-bg">
        
       <div class="heroHeader-bg-inner">
  
        <img src="{{'headers_small1.png' | asset_url}}" alt="" class="hide-for-medium-up  heroHeader-bg-img">
  
        <div class="heroHeader-bg-slideshow  heroSlideshow show-for-medium-up">
          <div class="heroSlideshow-slide">
        
            <div class="heroSlideshow-slide-img"  
                 style="background-image: url({{'headers_large1.png' | asset_url}});">
            </div>
      
          </div>
        </div>
  
      </div>
  
    </div>
  
    <div class="heroHeader-content  grid  grid--center grid--justifyCenter">
  
      <div class="heroHeader-content-inner">
  
        <div class="row">
        
          <div class="small-12  large-11 large-centered  columns">
        
            <h1 class="heroHeader-headline  text-center">
               Fill Your Boring Shoe Holes
            </h1>
        
            <div class="row">
        
              <div class="small-8 columns small-centered">
        
                <a href="/collections/laces" class="button  button--small  button--expanded  button--primary">
                  <span class="button-textState1">Shop Laces</span>
                </a>
  
                <div class="text-center">
              
                  <img src="{{'whiskIcon--glasses_teal.svg' | asset_url}}" alt=""
                  width="60">
  
                </div>
        
              </div>
        
            </div>
        
          </div>
        </div>
  
      </div>
  
    </div>
  
  </div>
  
  
  {% schema %}
    {
      "name": "Hero Header",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Title for header"
        }
      ],
      "presets": [
        {
          "name": "Hero Header",
          "category": "Hero Header"
        }
      ]
    }
  {% endschema %}
  </section>