
<section data-section-id="{{ section.id }}" data-section-type="lookbook_art_shot" >
  <div class="row">
    <div class="small-12  medium-11  large-10 medium-centered  columns">
      <div class="lookbookArt" >
        <h1 class="lookbookArt-headline  text-center" data-headline>Lace game so strong it <br class="show-for-large-up">might hurt your feet</h1>

         <div class="lookbookArt-icon" data-icon>
          <svg class="whiskerIcon  whiskerIcon--yellow  whiskerIcon--large">
            <use xlink:href="#icon--pineapple"/>

          </svg>
        </div>

        <div class="lookbookArt-img">

         <picture>
            
          <source media="(min-width: 1024px)"
                  srcset="{{'lookbook-artShot2--large.png' | asset_url}}">
        
          <source media="(min-width: 640px)  and (max-width: 1023px)"
                  srcset="{{'lookbook-artShot2--medium.png' | asset_url}}">


          <source media="(min-width: 0) and (max-width: 639px)"
                  srcset="{{'lookbook-artShot2--small.png' | asset_url}}">

          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
               data-sizes="auto" 
               alt="Whiskers Laces Artshot of 3-d printed dinosaur and solid yellow laces" 
               data-image
               >
        </picture>       

        </div>
        <p class="lookbookArt-paragraph text-center" data-body>
          Consult your doctor before using. Because your doctor would probably really like these too. And then just imagine how much more pleasant a trip to the doctor would be.
        </p>
      </div>
    </div>
  </div>
</section>


{% javascript %}
//<script>
  $(window).on('load', function() {
	
	  function lookbookArtShot(container) {

	 	  var self = this; 
			var animSpeed = .4;    
	    var selectors = {
	      headline: '[data-headline]', 
	      image: '[data-image]',
	      body: '[data-body]',
	      icon: '[data-icon]'
	    };
			
	    this.$container = $(container); 
	    this.animCtrl = new ScrollMagic.Controller(); 

	    //
	    // Code to animate the lookbook art shot when it enters the page
	    //
	    this.sectionAnim  = new TimelineMax()
	          .fromTo(self.$container.find(selectors.headline), animSpeed, {y: '20px', opacity: 0}, {y: '0', opacity: 1})
	          .from(self.$container.find(selectors.icon), .1, {opacity: 0})

	    this.sectionAnimSecondary = new TimelineMax() 
	          .from(self.$container.find(selectors.image), animSpeed, {y: '100%'})
	    			.from(self.$container.find(selectors.body), animSpeed, {y: '20px', opacity: 0}, '+=.2');

			//
			// Defining section scenes that will trigger animations
			//
	    this.sectionScene = new ScrollMagic.Scene({
	        triggerElement: container, 
	        triggerHook: 'onCenter',
	        offset: 100
	    })
	    .setTween(this.sectionAnim)
	    .addTo(this.animCtrl); 

	    this.sectionSceneSecondary = new ScrollMagic.Scene({
	        triggerElement: container + ' ' + selectors.body, 
	        triggerHook: 'onEnter'
	    })
	    .setTween(this.sectionAnimSecondary)
	    .addTo(this.animCtrl); 
	  }
	  
	  setTimeout(function() {
	    lookbookArtShot("[data-section-id='lookbook-art-shot-2']");
	  }, 200);

	}); 

//</script>
{% endjavascript %}