
<section data-section-id="{{ section.id }}">
  <div class="lookBookHeader  [ grid  grid--center  grid--justifyCenter ]">
    <div class="lookBookHeader-bg">
      
    </div>
    <div class="lookBookHeader-content">
      <h1 class="lookBookHeader-headline  text-center">
        Laces You Can’t Not Notice.
      </h1>
      
      <p class="lookBookHeader-descriptor  text-center">
        Whiskers help animals see in the dark. Who knew? We’re here to help you see in the dark. Metaphorically, though. Not literally. These are shoelaces, not night vision goggles, my friend.
      </p>
    </div>  
  </div>
</section>

