
  <!-- Off canvas navigation for small devices--> 
  <aside class="offCanvasCart show-for-medium-up"
         data-off-canvas-cart>
     <div class="mainNav-container  grid 
                grid--flexDirectionColumn 
                grid--justifySpaceBetween">
        <div>
wewewe
        </div>
     </div>
  </aside>
  <!--End off canvas navigation--> 