
<section class="rewardsHow">
	<div class="row">
		<div class="small-12  large-10  medium-centered  columns">
			<div class="rewardsHow-inner">
				<h2 class="headline rewardsHow-headline">
					So how does it work?
				</h2>
				<div class="rewardsHow-instructions">
					<div class="row  medium-collapse">
						<div class="small-12 columns medium-6">
							<div class="rewardsHow-instructions-steps">
								<h2 class="rewardsHow-instructions-headline">
									Earning Points
								</h2>
								<p class="rewardsHow-instructions-descriptor">Earn points when you complete activities such as referring a friend.</p>
								<ul>
									<li>
										<div class="rewardsHow-instructions-step  grid grid--center">
											<div class="icon">
											</div>
											<p>
												<span class="action">Make a purchase</span>
												<span class="points">5 points per $1</span>
											</p>
										</div>
									</li>
					
									<li>
										<div class="rewardsHow-instructions-step  grid grid--center">
											<div class="icon">
											</div>
											<p>
												<span class="action">Create Account</span>
												<span class="points">50 points</span>
											</p>
										</div>
									</li>
					
									<li>
										<div class="rewardsHow-instructions-step  grid grid--center">
											<div class="icon">
											</div>
											<p>
												<span class="action">Refer a friend</span>
												<span class="points">	250 points</span>
											</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="small-12 columns medium-6">

							<div class="rewardsHow-instructions-steps">
								<h2 class="rewardsHow-instructions-headline">
									Redeeming for rewards
								</h2>
								<p  class="rewardsHow-instructions-descriptor">Cash in your points when you’re ready for rewards and products.</p>
								<ul>
									<li>
										<div class="rewardsHow-instructions-step  grid grid--center">
											<div class="icon">
											</div>
											<p>
												<span class="action">	
													$5 voucher
 												 </span>
												<span class="points">
													250 points
												</span>
											</p>
										</div>
									</li>
					
									<li>
										<div class="rewardsHow-instructions-step  grid grid--center">
											<div class="icon">
											</div>
											<p>
												<span class="action">$10 voucher</span>
												<span class="points">500 points</span>
											</p>
										</div>
									</li>
					
									<li>
										<div class="rewardsHow-instructions-step  grid grid--center">
											<div class="icon">
											</div>
											<p>
												<span class="action">$15 voucher</span>
												<span class="points">750 points</span>
											</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
