

<section class="rewardsPromoCta">
  <div class="row">
      <div class="small-12 columns medium-10 medium-centered">
        <div class="rewardsPromoCta-inner">
          <div class="rewardsPromoCta-signUp">
            <h2 class="headline  rewardsPromoCta-signUp-headline">Ready to join the loop?</h2>
            <p>
              Earn 50 points just by joining! 
            </p>
            <a href="/account/register" rel="internal"  title="Log In" class="button  button--primary  button--medium" data-text="Sign Up">
              Sign Up
            </a>
          </div>

          <div class="rewardsPromoCta-logIn">
            <h2 class="rewardsPromoCta-logIn-headline"> Already have an account?</h2>
            <p>
              <a href="/account/login" rel="internal" >
                Launch loyalty program 
              </a>
            </p>
          </div>
        </div>
      </div>
  </div>
</section>